<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/Grosser_Panda.JPG/440px-Grosser_Panda.JPG" width="25%">

### Course Plan:

- intro to Jupyter: install, run cells, move cells, export, etc. ~5min
- import statements  ~1 min
- Creating Pandas DataFrame from an existing spreadsheet ~ 3min
- DataFrame index, accessing rows and columns, etc.  ~15 min
- Creating new columns, applying functions on columns:  ~ 15 min
- Type casting and working with dates  ~ 10min
- Group by operations and aggregation   ~ 20 min
- Boolean Selection  
- Plotting

## The Dataframe

- The basic object we interact with in Pandas is the `DataFrame` (analogous to a *spreadsheet*)
- Another object we also interact with is the `Series` (analogous to a Column)

### 1. Creating a Pandas DataFrame from a file:

In [3]:
import pandas as pd

We're going to read CSV input: the parameter could be a file or a URL.

In [4]:
df = pd.read_csv("SPX - Historical.csv")

In [5]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000
1,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000
2,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000
3,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000
4,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000
...,...,...,...,...,...,...,...
5280,2019-05-20,2841.939941,2853.860107,2831.290039,2840.229980,2840.229980,3288870000
5281,2019-05-21,2854.020020,2868.879883,2854.020020,2864.360107,2864.360107,3218700000
5282,2019-05-22,2856.060059,2865.469971,2851.110107,2856.270020,2856.270020,3192510000
5283,2019-05-23,2836.699951,2836.699951,2805.489990,2822.239990,2822.239990,3891980000
5284,2019-05-24,2832.409912,2841.360107,2820.189941,2826.060059,2826.060059,2887390000

In [6]:
df.shape

(5285, 7)

In [8]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000
1,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000
2,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000
3,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000
4,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000

In [9]:
df.head(20)

,Date,Open,High,Low,Close,Adj Close,Volume
0,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000
1,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000
2,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000
3,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000
4,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000
5,1998-06-02,1090.979980,1098.709961,1089.670044,1093.219971,1093.219971,590930000
6,1998-06-03,1093.219971,1097.430054,1081.089966,1082.729980,1082.729980,584480000
7,1998-06-04,1082.729980,1095.930054,1078.099976,1094.829956,1094.829956,577470000
8,1998-06-05,1095.099976,1113.880005,1094.829956,1113.859985,1113.859985,558440000
9,1998-06-08,1113.859985,1119.699951,1113.310059,1115.719971,1115.719971,543390000
10,1998-06-09,1115.719971,1119.920044,1111.310059,1118.410034,1118.410034,563610000
11,1998-06-10,1118.410034,1126.000000,1110.270020,1112.280029,1112.280029,609410000
12,1998-06-11,1112.280029,1114.199951,1094.280029,1094.579956,1094.579956,627470000
13,1998-06-12,1094.579956,1098.839966,1080.829956,1098.839966,1098.839966,633300000
14,1998-06-15,1098.839966,1098.839966,1077.010010,1077.010010,1077.010010,595820000
15,1998-06-16,1077.010010,1087.589966,1074.670044,1087.589966,1087.589966,664600000
16,1998-06-17,1087.589966,1112.869995,1087.579956,1107.109985,1107.109985,744400000
17,1998-06-18,1107.109985,1109.359985,1103.709961,1106.369995,1106.369995,590440000
18,1998-06-19,1106.369995,1111.250000,1097.099976,1100.650024,1100.650024,715500000
19,1998-06-22,1100.650024,1109.010010,1099.420044,1103.209961,1103.209961,531550000

In [10]:
df.tail(10)

,Date,Open,High,Low,Close,Adj Close,Volume
5275,2019-05-13,2840.189941,2840.189941,2801.429932,2811.870117,2811.870117,3894030000
5276,2019-05-14,2820.120117,2852.540039,2820.120117,2834.409912,2834.409912,3322720000
5277,2019-05-15,2820.379883,2858.679932,2815.080078,2850.959961,2850.959961,3125950000
5278,2019-05-16,2855.800049,2892.149902,2855.800049,2876.320068,2876.320068,3338060000
5279,2019-05-17,2858.600098,2885.479980,2854.229980,2859.530029,2859.530029,3257950000
5280,2019-05-20,2841.939941,2853.860107,2831.290039,2840.229980,2840.229980,3288870000
5281,2019-05-21,2854.020020,2868.879883,2854.020020,2864.360107,2864.360107,3218700000
5282,2019-05-22,2856.060059,2865.469971,2851.110107,2856.270020,2856.270020,3192510000
5283,2019-05-23,2836.699951,2836.699951,2805.489990,2822.239990,2822.239990,3891980000
5284,2019-05-24,2832.409912,2841.360107,2820.189941,2826.060059,2826.060059,2887390000

Present Other methods of opening a file:

`pd.read_excel()`

We could present the following parameters:

sheet_name, header, index_col, na_values, true_values, false_values

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html

### 2 Accessing rows and columns:

In [14]:
df["Close"]

0       1094.020020
1       1092.229980
2       1097.599976
3       1090.819946
4       1090.979980
           ...
5280    2840.229980
5281    2864.360107
5282    2856.270020
5283    2822.239990
5284    2826.060059
Name: Close, Length: 5285, dtype: float64

Columns can also be accessed as attributes of the dataframe:
Note: this only works if the column names are legal python identifier
(no spaces and no punctuation other than `_`.)

In [15]:
df["Open"].describe()

count    5285.000000
mean     1508.338967
std       522.983997
min       679.280029
25%      1144.109985
50%      1330.969971
75%      1842.969971
max      2952.330078
Name: Open, dtype: float64

In [16]:
df["Close"].describe(percentiles=[0, 0.1, 0.2, 0.3, 0.4, 
                                   0.5, 0.6, 0.7, 0.8, 0.9,
                                   1.0])

count    5285.000000
mean     1508.575173
std       523.059143
min       676.530029
0%        676.530029
10%      1003.389990
20%      1114.246020
30%      1183.715967
40%      1262.530029
50%      1331.069946
60%      1411.186011
70%      1541.187988
80%      2012.153980
90%      2374.845996
100%     2945.830078
max      2945.830078
Name: Close, dtype: float64

Each column in a `df` is a series object:

In [17]:
type(df["Open"])

pandas.core.series.Series

In [19]:
# accessing rows, by position
df.iloc[10:20]

,Date,Open,High,Low,Close,Adj Close,Volume
10,1998-06-09,1115.719971,1119.920044,1111.310059,1118.410034,1118.410034,563610000
11,1998-06-10,1118.410034,1126.000000,1110.270020,1112.280029,1112.280029,609410000
12,1998-06-11,1112.280029,1114.199951,1094.280029,1094.579956,1094.579956,627470000
13,1998-06-12,1094.579956,1098.839966,1080.829956,1098.839966,1098.839966,633300000
14,1998-06-15,1098.839966,1098.839966,1077.010010,1077.010010,1077.010010,595820000
15,1998-06-16,1077.010010,1087.589966,1074.670044,1087.589966,1087.589966,664600000
16,1998-06-17,1087.589966,1112.869995,1087.579956,1107.109985,1107.109985,744400000
17,1998-06-18,1107.109985,1109.359985,1103.709961,1106.369995,1106.369995,590440000
18,1998-06-19,1106.369995,1111.250000,1097.099976,1100.650024,1100.650024,715500000
19,1998-06-22,1100.650024,1109.010010,1099.420044,1103.209961,1103.209961,531550000

In [ ]:
df.iloc[0:5]
# point out that python range doesn't include the end index. 
# (n:m) only includes up to m-1

In addition to accessing rows by position (using iloc()) , we can also access rows by index using loc()

If no index is specified when opening the file, loc reverts to using position.

In [21]:
df.loc["1998-05-26":"1998-06-01", ["Open", "High"]]

Empty DataFrame
Columns: [Open, High]
Index: []

In [22]:
df.iloc[0:5, [2,3]]

          High          Low
0  1116.790039  1094.010010
1  1094.439941  1074.390015
2  1099.729980  1089.060059
3  1104.160034  1090.819946
4  1097.849976  1084.219971

Let's specify date as an index explain the meaning of parameters
explain that they are default parameters.

In [23]:
df.set_index("Date", drop=False, inplace=True, verify_integrity=True)

In [24]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
1998-05-26,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000
1998-05-27,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000
1998-05-28,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000
1998-05-29,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000
1998-06-01,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000
...,...,...,...,...,...,...,...
2019-05-20,2019-05-20,2841.939941,2853.860107,2831.290039,2840.229980,2840.229980,3288870000
2019-05-21,2019-05-21,2854.020020,2868.879883,2854.020020,2864.360107,2864.360107,3218700000
2019-05-22,2019-05-22,2856.060059,2865.469971,2851.110107,2856.270020,2856.270020,3192510000
2019-05-23,2019-05-23,2836.699951,2836.699951,2805.489990,2822.239990,2822.239990,3891980000
2019-05-24,2019-05-24,2832.409912,2841.360107,2820.189941,2826.060059,2826.060059,2887390000

So now `loc` no longer works with positions.

In [27]:
df.loc[0:5]

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [0] of <class 'int'>

Now `loc` takes index values:

In [28]:
df.loc["1998-05-26"]

Date         1998-05-26
Open            1110.47
High            1116.79
Low             1094.01
Close           1094.02
Adj Close       1094.02
Volume        541410000
Name: 1998-05-26, dtype: object

In [29]:
df.loc["1998-05-26"]

Date         1998-05-26
Open            1110.47
High            1116.79
Low             1094.01
Close           1094.02
Adj Close       1094.02
Volume        541410000
Name: 1998-05-26, dtype: object

In [ ]:
df.loc["1998-05-26"]

In [30]:
df.loc["1998-05-26":"1998-06-07"]

,Date,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
1998-05-26,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000
1998-05-27,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000
1998-05-28,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000
1998-05-29,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000
1998-06-01,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000
1998-06-02,1998-06-02,1090.979980,1098.709961,1089.670044,1093.219971,1093.219971,590930000
1998-06-03,1998-06-03,1093.219971,1097.430054,1081.089966,1082.729980,1082.729980,584480000
1998-06-04,1998-06-04,1082.729980,1095.930054,1078.099976,1094.829956,1094.829956,577470000
1998-06-05,1998-06-05,1095.099976,1113.880005,1094.829956,1113.859985,1113.859985,558440000

We can still access by rows and columns using iloc:

In [31]:

df.iloc[0:10, 2:4 ]

                   High          Low
Date
1998-05-26  1116.790039  1094.010010
1998-05-27  1094.439941  1074.390015
1998-05-28  1099.729980  1089.060059
1998-05-29  1104.160034  1090.819946
1998-06-01  1097.849976  1084.219971
1998-06-02  1098.709961  1089.670044
1998-06-03  1097.430054  1081.089966
1998-06-04  1095.930054  1078.099976
1998-06-05  1113.880005  1094.829956
1998-06-08  1119.699951  1113.310059

In [32]:
# by labels:
df["1998-05-26":"1998-06-07"]["High"].describe()

count       9.000000
mean     1102.102227
std         8.004176
min      1094.439941
25%      1097.430054
50%      1098.709961
75%      1104.160034
max      1116.790039
Name: High, dtype: float64

In [33]:
df.loc["1998-05-26":"1998-06-07"][["High","Low"]]
#note that column labels are in a list

                   High          Low
Date
1998-05-26  1116.790039  1094.010010
1998-05-27  1094.439941  1074.390015
1998-05-28  1099.729980  1089.060059
1998-05-29  1104.160034  1090.819946
1998-06-01  1097.849976  1084.219971
1998-06-02  1098.709961  1089.670044
1998-06-03  1097.430054  1081.089966
1998-06-04  1095.930054  1078.099976
1998-06-05  1113.880005  1094.829956

#### In summary:
- Rows and columns can be picked by labels or by positions.
- When picking by labels, labels can be applied to df directly: df[label],  df[rowlabel][columnlabel], df[columnlabel][rowlabel]
- `iloc` is used for selecting by position
- Positions can be specified individually, as a slice object (2:8), or a list of integers.
- The same is true for row labels. column labels can be individual values or lists, but no slices

## 3. Adding and Dropping Columns

Adding a new column:
Any list that has the same length as the dataframe can be made into a new column.

In [40]:
df["Change"] = [5] * len(df)

In [41]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Change
Date,,,,,,,,
1998-05-26,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000,5
1998-05-27,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000,5
1998-05-28,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000,5
1998-05-29,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000,5
1998-06-01,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000,5

Removing columns is a bit more involved:

`axis=1` tells pandas that we are deleting a column not a row.

`inplace=True` tells pandas to modify the current df, not return a new one.

(If not specified, the default is false and pandas will return a modified df that should be stored somewhere - show example without inplace.)

In [42]:
df.drop("Change", axis=1,  inplace=True)
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
1998-05-26,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000
1998-05-27,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000
1998-05-28,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000
1998-05-29,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000
1998-06-01,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000

Of course, we would like to do something more useful.
That usually means the new column is a result from operating on existing columns.
E.g. Let's add a column that records the difference between the index's closing value and the index opening value:

In [45]:
df.drop("Change_from_Open", axis=1,  inplace=True)
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,ChangeFromOpen
Date,,,,,,,,
1998-05-26,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000,-16.449951
1998-05-27,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000,-1.790040
1998-05-28,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000,5.369996
1998-05-29,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000,-6.780030
1998-06-01,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000,0.160034

In [44]:
df["ChangeFromOpen"] = df["Close"] - df["Open"]
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Change_from_Open,ChangeFromOpen
Date,,,,,,,,,
1998-05-26,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000,-16.449951,-16.449951
1998-05-27,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000,-1.790040,-1.790040
1998-05-28,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000,5.369996,5.369996
1998-05-29,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000,-6.780030,-6.780030
1998-06-01,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000,0.160034,0.160034

What if we want to create a column based on comparing each row
with the previous row. e.g. for each day, calculate the change between
the day's close and the previous day close?

We can use the function "shift" to do this:

In [47]:
df["Open"].shift(1)
#try also shift(-3), etc.

# Note that this is not changing the series/column, just returning a new one

Date
1998-05-26            NaN
1998-05-27    1110.469971
1998-05-28    1094.020020
1998-05-29    1092.229980
1998-06-01    1097.599976
                 ...
2019-05-20    2858.600098
2019-05-21    2841.939941
2019-05-22    2854.020020
2019-05-23    2856.060059
2019-05-24    2836.699951
Name: Open, Length: 5285, dtype: float64

We can now use this to calculate the change between close and previous close:

In [49]:

df["ChangeFromPrevHigh"] = df.High - df.High.shift(1)
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,ChangeFromOpen,ChangeFromPrevClose,ChangeFromPrevHigh
Date,,,,,,,,,,
1998-05-26,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000,-16.449951,NaN,NaN
1998-05-27,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000,-1.790040,-1.790040,-22.350098
1998-05-28,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000,5.369996,5.369996,5.290039
1998-05-29,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000,-6.780030,-6.780030,4.430054
1998-06-01,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000,0.160034,0.160034,-6.310058

In [50]:
df.drop("ChangeFromPrevClose", axis=1,  inplace=True)
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,ChangeFromOpen,ChangeFromPrevHigh
Date,,,,,,,,,
1998-05-26,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000,-16.449951,NaN
1998-05-27,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000,-1.790040,-22.350098
1998-05-28,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000,5.369996,5.290039
1998-05-29,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000,-6.780030,4.430054
1998-06-01,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000,0.160034,-6.310058

Let's calculate change from previous close in percentage. 

We can do this in a couple of ways:

In [51]:
df["ChangeFromPrevClosePct"] = ((df["Close"] - df["Close"].shift(1)) * 100)/df["Close"].shift(1)

# And then we may want to round the result:
df["ChangeFromPrevClosePct"] = round(df["ChangeFromPrevClosePct"], 2)

df.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume,ChangeFromOpen,ChangeFromPrevHigh,ChangeFromPrevClosePct
Date,,,,,,,,,,
1998-05-26,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000,-16.449951,NaN,NaN
1998-05-27,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000,-1.790040,-22.350098,-0.16
1998-05-28,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000,5.369996,5.290039,0.49
1998-05-29,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000,-6.780030,4.430054,-0.62
1998-06-01,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000,0.160034,-6.310058,0.01
1998-06-02,1998-06-02,1090.979980,1098.709961,1089.670044,1093.219971,1093.219971,590930000,2.239991,0.859985,0.21
1998-06-03,1998-06-03,1093.219971,1097.430054,1081.089966,1082.729980,1082.729980,584480000,-10.489991,-1.279907,-0.96
1998-06-04,1998-06-04,1082.729980,1095.930054,1078.099976,1094.829956,1094.829956,577470000,12.099976,-1.500000,1.12
1998-06-05,1998-06-05,1095.099976,1113.880005,1094.829956,1113.859985,1113.859985,558440000,18.760009,17.949951,1.74
1998-06-08,1998-06-08,1113.859985,1119.699951,1113.310059,1115.719971,1115.719971,543390000,1.859986,5.819946,0.17

But, instead of having one long formula on one line we can also define our own function:

In [ ]:
def calc_percentage_one_day(df):
    close = df["Close"]
    prev_close = df["Close"].shift(1)
    change_abs = close - prev_close
    change_percentage = (change_abs/prev_close) * 100
    change_percentage = round(change_percentage, 1)
    return change_percentage


# And now, we can create the new column by just calling the function:
df["Change_from_prev_percentage"] = calc_percentage_one_day(df)

df.head()

## 4. Type Casting and Working with Dates

In most cases, the types of the values (strings, ints, etc. ) will be parsed correctly. In some cases, we may need to explicitly change the type: very common with dates. Let's look at our data again; we kept the Date column for a reason! (`type()` is a built-in python function to check the type.)

In [52]:
type(df["Date"][0])

str

We can typecast those strings to Datetime stamps.
This should allow us to reference the month, the weekday, etc.:

In [53]:
df["Date"] = pd.to_datetime(df["Date"])
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,ChangeFromOpen,ChangeFromPrevHigh,ChangeFromPrevClosePct
Date,,,,,,,,,,
1998-05-26,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000,-16.449951,NaN,NaN
1998-05-27,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000,-1.790040,-22.350098,-0.16
1998-05-28,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000,5.369996,5.290039,0.49
1998-05-29,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000,-6.780030,4.430054,-0.62
1998-06-01,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000,0.160034,-6.310058,0.01

In [54]:
# Let's check
df["Date"][0]

Timestamp('1998-05-26 00:00:00')

In [57]:
df["DayOfWeek"] = df["Date"].dt.day_name()

df.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume,ChangeFromOpen,ChangeFromPrevHigh,ChangeFromPrevClosePct,DayOfWeek
Date,,,,,,,,,,,
1998-05-26,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000,-16.449951,NaN,NaN,Tuesday
1998-05-27,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000,-1.790040,-22.350098,-0.16,Wednesday
1998-05-28,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000,5.369996,5.290039,0.49,Thursday
1998-05-29,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000,-6.780030,4.430054,-0.62,Friday
1998-06-01,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000,0.160034,-6.310058,0.01,Monday
1998-06-02,1998-06-02,1090.979980,1098.709961,1089.670044,1093.219971,1093.219971,590930000,2.239991,0.859985,0.21,Tuesday
1998-06-03,1998-06-03,1093.219971,1097.430054,1081.089966,1082.729980,1082.729980,584480000,-10.489991,-1.279907,-0.96,Wednesday
1998-06-04,1998-06-04,1082.729980,1095.930054,1078.099976,1094.829956,1094.829956,577470000,12.099976,-1.500000,1.12,Thursday
1998-06-05,1998-06-05,1095.099976,1113.880005,1094.829956,1113.859985,1113.859985,558440000,18.760009,17.949951,1.74,Friday
1998-06-08,1998-06-08,1113.859985,1119.699951,1113.310059,1115.719971,1115.719971,543390000,1.859986,5.819946,0.17,Monday

Let's add month name and quarter:

In [58]:

# Note how some of these are functions (callable, ending with ()), and some are attribute values
df["Month"] = df["Date"].dt.month_name()
df["Quarter"] = df["Date"].dt.quarter
df.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume,ChangeFromOpen,ChangeFromPrevHigh,ChangeFromPrevClosePct,DayOfWeek,Month,Quarter
Date,,,,,,,,,,,,,
1998-05-26,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000,-16.449951,NaN,NaN,Tuesday,May,2
1998-05-27,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000,-1.790040,-22.350098,-0.16,Wednesday,May,2
1998-05-28,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000,5.369996,5.290039,0.49,Thursday,May,2
1998-05-29,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000,-6.780030,4.430054,-0.62,Friday,May,2
1998-06-01,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000,0.160034,-6.310058,0.01,Monday,June,2
1998-06-02,1998-06-02,1090.979980,1098.709961,1089.670044,1093.219971,1093.219971,590930000,2.239991,0.859985,0.21,Tuesday,June,2
1998-06-03,1998-06-03,1093.219971,1097.430054,1081.089966,1082.729980,1082.729980,584480000,-10.489991,-1.279907,-0.96,Wednesday,June,2
1998-06-04,1998-06-04,1082.729980,1095.930054,1078.099976,1094.829956,1094.829956,577470000,12.099976,-1.500000,1.12,Thursday,June,2
1998-06-05,1998-06-05,1095.099976,1113.880005,1094.829956,1113.859985,1113.859985,558440000,18.760009,17.949951,1.74,Friday,June,2
1998-06-08,1998-06-08,1113.859985,1119.699951,1113.310059,1115.719971,1115.719971,543390000,1.859986,5.819946,0.17,Monday,June,2

### Changing order of Columns

In [59]:
curr_columns = df.columns

print(curr_columns)

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'ChangeFromOpen', 'ChangeFromPrevHigh', 'ChangeFromPrevClosePct',
       'DayOfWeek', 'Month', 'Quarter'],
      dtype='object')

In [60]:
new_columns = ['Date', 'DayOfWeek', 'Month', 'Quarter', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'Change_from_Open', 'Change_from_Prev_Close',
       'Change_from_prev_percentage']

df = df.reindex(columns=new_columns)
df.head()

,Date,DayOfWeek,Month,Quarter,Open,High,Low,Close,Adj Close,Volume,Change_from_Open,Change_from_Prev_Close,Change_from_prev_percentage
Date,,,,,,,,,,,,,
1998-05-26,1998-05-26,Tuesday,May,2,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000,NaN,NaN,NaN
1998-05-27,1998-05-27,Wednesday,May,2,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000,NaN,NaN,NaN
1998-05-28,1998-05-28,Thursday,May,2,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000,NaN,NaN,NaN
1998-05-29,1998-05-29,Friday,May,2,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000,NaN,NaN,NaN
1998-06-01,1998-06-01,Monday,June,2,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000,NaN,NaN,NaN

 ### 5 Groupby operations:
 
 https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html

In [ ]:
# Say we want to find sum of changes per day:
# note: I am not sure this is the best application of groupby


# Try functions: mean, median, sum, max, min
df.groupby(["DayOfWeek"])["Change_from_prev_percentage"].sum()

In [ ]:
# Let's see how much the index changed for every month since June 1998
# Possible exercise:

df["Year"] = df["Date"].dt.year
df

In [ ]:
# Let's aggregate the percentage, but let's average the open, close, and let's take the max and min for high and low

df_agg = df.groupby(["Year", "Month"]).agg({"Change_from_prev_percentage": sum, 
                                            "Open": pd.Series.mean, 
                                           "Close": pd.Series.mean,
                                           "High": pd.Series.max,
                                           "Low": pd.Series.min})

df_agg

In [ ]:
# Let's attempt to sort by Month name:

df_agg.sort_values("Month")

# Clearly that is not helpful, it sorted by month alphabetical name instead of month order. For that we need to 
# add a column with the month number

In [ ]:
# Let's add the month number to the original DF and re-aggregate:
df["MonthNum"] = df["Date"].dt.month

df_agg = df.groupby(["Year", "MonthNum"]).agg({"Change_from_prev_percentage": sum, 
                                            "Open": pd.Series.mean, 
                                           "Close": pd.Series.mean,
                                           "High": pd.Series.max,
                                           "Low": pd.Series.min})


df_agg.sort_values(["Year", "MonthNum"])

In [ ]:
# Note that this summing of percentage change is not excatly the same as taking percetnage change from start of month
# to end of month. Why?

### 6. Boolean Selection

We can select rows that meet certain criteria, say we just want to look at the days where the index moved by 2% or more:

In [ ]:
df[df["Change_from_prev_percentage"]>= 2]

#But hold on! This only gives us the days with 2% or more increase

In [ ]:
# we can define a complex condition and store it in a separate variable so the whole expression
# is more readable:

cond = (df["Change_from_prev_percentage"]>= 3.0) | (df["Change_from_prev_percentage"] <= -3.0)

# or,we could use the abs operator abs(df["Change_from_prev_percentage"])

# !! IMPORTANT NOTE: while Python usually accepts and, or. Pandas requires bitwise operators |, &

# !! Also important for composite consditions: paranthesis

df[cond]

In [ ]:
# Of couse we can make the conditions as complicated as we want:

cond = ( ((df["Change_from_prev_percentage"]>= 2.0) 
        | 
        (df["Change_from_prev_percentage"] <= -2.0)) 
        & (df["DayOfWeek"] == "Monday"))

df[cond]

# Pay special attention to the bracketing in such cases- show some example where
# change in bracketing change meaning

### 7 Basic Plotting and Visualization

In [ ]:
#ToDo:

# Make sorting a separate section
# Sorting by multiple values
# Missing Values
# Reindexing
# Filtering the rows
# Saving the frame
# Plotting
# pivot tables
# merge join concat
# numpy/scipy