Course Plan:

1) intro to Jupyter: install, run cells, move cells, export, etc. ~5min

2) import statements  ~1 min

3) Creating Pandas DataFrame from an existing spreadsheet ~ 3min

4) DataFrame index, accessing rows and columns, etc.  ~15 min

5) Creating new columns, applying functions on columns:  ~ 15 min

6) Type casting and working with dates  ~ 10min

7) Group by operations and aggregation   ~ 20 min

8) Boolean Selection  

9) Plotting

### The basic object we interact with in Pandas is the DataFrame (analogous to a spreadsheet)

### Another object we also interact with is the Series (analogous to a Column)

### 1 Creating a Pandas DataFrame from a file:

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("SPX - Historical.csv")
#couod be file or URL

In [3]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000
1,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000
2,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000
3,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000
4,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000
5,1998-06-02,1090.979980,1098.709961,1089.670044,1093.219971,1093.219971,590930000
6,1998-06-03,1093.219971,1097.430054,1081.089966,1082.729980,1082.729980,584480000
7,1998-06-04,1082.729980,1095.930054,1078.099976,1094.829956,1094.829956,577470000
8,1998-06-05,1095.099976,1113.880005,1094.829956,1113.859985,1113.859985,558440000
9,1998-06-08,1113.859985,1119.699951,1113.310059,1115.719971,1115.719971,543390000
10,1998-06-09,1115.719971,1119.920044,1111.310059,1118.410034,1118.410034,563610000
11,1998-06-10,1118.410034,1126.000000,1110.270020,1112.280029,1112.280029,609410000
12,1998-06-11,1112.280029,1114.199951,1094.280029,1094.579956,1094.579956,627470000
13,1998-06-12,1094.579956,1098.839966,1080.829956,1098.839966,1098.839966,633300000
14,1998-06-15,1098.839966,1098.839966,1077.010010,1077.010010,1077.010010,595820000
15,1998-06-16,1077.010010,1087.589966,1074.670044,1087.589966,1087.589966,664600000
16,1998-06-17,1087.589966,1112.869995,1087.579956,1107.109985,1107.109985,744400000
17,1998-06-18,1107.109985,1109.359985,1103.709961,1106.369995,1106.369995,590440000
18,1998-06-19,1106.369995,1111.250000,1097.099976,1100.650024,1100.650024,715500000
19,1998-06-22,1100.650024,1109.010010,1099.420044,1103.209961,1103.209961,531550000
20,1998-06-23,1103.209961,1119.489990,1103.209961,1119.489990,1119.489990,657100000
21,1998-06-24,1119.489990,1134.400024,1115.099976,1132.880005,1132.880005,714900000
22,1998-06-25,1132.880005,1142.040039,1127.599976,1129.280029,1129.280029,669900000
23,1998-06-26,1129.280029,1136.829956,1129.280029,1133.199951,1133.199951,520050000
24,1998-06-29,1133.199951,1145.150024,1133.199951,1138.489990,1138.489990,564350000
25,1998-06-30,1138.489990,1140.800049,1131.979980,1133.839966,1133.839966,757200000
26,1998-07-01,1133.839966,1148.560059,1133.839966,1148.560059,1148.560059,701600000
27,1998-07-02,1148.560059,1148.560059,1142.989990,1146.420044,1146.420044,510210000
28,1998-07-06,1146.420044,1157.329956,1145.030029,1157.329956,1157.329956,514750000
29,1998-07-07,1157.329956,1159.810059,1152.849976,1154.660034,1154.660034,624890000
...,...,...,...,...,...,...,...
5255,2019-04-12,2900.860107,2910.540039,2898.370117,2907.409912,2907.409912,3688490000
5256,2019-04-15,2908.320068,2909.600098,2896.479980,2905.580078,2905.580078,3088330000
5257,2019-04-16,2912.260010,2916.060059,2900.709961,2907.060059,2907.060059,3402210000
5258,2019-04-17,2916.040039,2918.000000,2895.449951,2900.449951,2900.449951,3602300000
5259,2019-04-18,2904.810059,2908.399902,2891.899902,2905.030029,2905.030029,3506850000
5260,2019-04-22,2898.780029,2909.510010,2896.350098,2907.969971,2907.969971,2997950000
5261,2019-04-23,2909.989990,2936.310059,2908.530029,2933.679932,2933.679932,3635030000
5262,2019-04-24,2934.000000,2936.830078,2926.050049,2927.250000,2927.250000,3448960000
5263,2019-04-25,2928.989990,2933.100098,2912.840088,2926.169922,2926.169922,3425280000
5264,2019-04-26,2925.810059,2939.879883,2917.560059,2939.879883,2939.879883,3248500000
5265,2019-04-29,2940.580078,2949.520020,2939.350098,2943.030029,2943.030029,3118780000
5266,2019-04-30,2937.139893,2948.219971,2924.110107,2945.830078,2945.830078,3919330000
5267,2019-05-01,2952.330078,2954.129883,2923.360107,2923.729980,2923.729980,3645850000
5268,2019-05-02,2922.159912,2931.679932,2900.500000,2917.520020,2917.520020,3778890000
5269,2019-05-03,2929.209961,2947.850098,2929.209961,2945.639893,2945.639893,3338120000
5270,2019-05-06,2908.889893,2937.320068,2898.209961,2932.469971,2932.469971,3181520000
5271,2019-05-07,2913.030029,2913.030029,2862.600098,2884.050049,2884.050049,3767100000
5272,2019-05-08,2879.610107,2897.959961,2873.280029,2879.419922,2879.419922,3485790000
5273,2019-05-09,2859.840088,2875.969971,2836.399902,2870.719971,2870.719971,3638820000
5274,2019-05-10,2863.100098,2891.310059,2825.389893,2881.399902,2881.399902,3529600000
5275,2019-05-13,2840.189941,2840.189941,2801.429932,2811.870117,2811.870117,3894030000
5276,2019-05-14,2820.120117,2852.540039,2820.120117,2834.409912,2834.409912,3322720000
5277,2019-05-15,2820.379883,2858.679932,2815.080078,2850.959961,2850.959961,3125950000
5278,2019-05-16,2855.800049,2892.149902,2855.800049,2876.320068,2876.320068,3338060000
5279,2019-05-17,2858.600098,2885.479980,2854.229980,2859.530029,2859.530029,3257950000
5280,2019-05-20,2841.939941,2853.860107,2831.290039,2840.229980,2840.229980,3288870000
5281,2019-05-21,2854.020020,2868.879883,2854.020020,2864.360107,2864.360107,3218700000
5282,2019-05-22,2856.060059,2865.469971,2851.110107,2856.270020,2856.270020,3192510000
5283,2019-05-23,2836.699951,2836.699951,2805.489990,2822.239990,2822.239990,3891980000
5284,2019-05-24,2832.409912,2841.360107,2820.189941,2826.060059,2826.060059,2887390000

In [4]:
df.shape

(5285, 7)

In [5]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000
1,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000
2,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000
3,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000
4,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000

In [6]:
df.head(20)

,Date,Open,High,Low,Close,Adj Close,Volume
0,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000
1,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000
2,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000
3,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000
4,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000
5,1998-06-02,1090.979980,1098.709961,1089.670044,1093.219971,1093.219971,590930000
6,1998-06-03,1093.219971,1097.430054,1081.089966,1082.729980,1082.729980,584480000
7,1998-06-04,1082.729980,1095.930054,1078.099976,1094.829956,1094.829956,577470000
8,1998-06-05,1095.099976,1113.880005,1094.829956,1113.859985,1113.859985,558440000
9,1998-06-08,1113.859985,1119.699951,1113.310059,1115.719971,1115.719971,543390000
10,1998-06-09,1115.719971,1119.920044,1111.310059,1118.410034,1118.410034,563610000
11,1998-06-10,1118.410034,1126.000000,1110.270020,1112.280029,1112.280029,609410000
12,1998-06-11,1112.280029,1114.199951,1094.280029,1094.579956,1094.579956,627470000
13,1998-06-12,1094.579956,1098.839966,1080.829956,1098.839966,1098.839966,633300000
14,1998-06-15,1098.839966,1098.839966,1077.010010,1077.010010,1077.010010,595820000
15,1998-06-16,1077.010010,1087.589966,1074.670044,1087.589966,1087.589966,664600000
16,1998-06-17,1087.589966,1112.869995,1087.579956,1107.109985,1107.109985,744400000
17,1998-06-18,1107.109985,1109.359985,1103.709961,1106.369995,1106.369995,590440000
18,1998-06-19,1106.369995,1111.250000,1097.099976,1100.650024,1100.650024,715500000
19,1998-06-22,1100.650024,1109.010010,1099.420044,1103.209961,1103.209961,531550000

In [7]:
df.tail(10)

,Date,Open,High,Low,Close,Adj Close,Volume
5275,2019-05-13,2840.189941,2840.189941,2801.429932,2811.870117,2811.870117,3894030000
5276,2019-05-14,2820.120117,2852.540039,2820.120117,2834.409912,2834.409912,3322720000
5277,2019-05-15,2820.379883,2858.679932,2815.080078,2850.959961,2850.959961,3125950000
5278,2019-05-16,2855.800049,2892.149902,2855.800049,2876.320068,2876.320068,3338060000
5279,2019-05-17,2858.600098,2885.479980,2854.229980,2859.530029,2859.530029,3257950000
5280,2019-05-20,2841.939941,2853.860107,2831.290039,2840.229980,2840.229980,3288870000
5281,2019-05-21,2854.020020,2868.879883,2854.020020,2864.360107,2864.360107,3218700000
5282,2019-05-22,2856.060059,2865.469971,2851.110107,2856.270020,2856.270020,3192510000
5283,2019-05-23,2836.699951,2836.699951,2805.489990,2822.239990,2822.239990,3891980000
5284,2019-05-24,2832.409912,2841.360107,2820.189941,2826.060059,2826.060059,2887390000

Present Other methods of opening a file:

pd.read_excel()

#present the following parameters:

sheet_name, header, index_col, na_values, true_values, false_values

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html

### 2 Accessing rows and columns:

In [8]:
df["Open"]

0       1110.469971
1       1094.020020
2       1092.229980
3       1097.599976
4       1090.819946
5       1090.979980
6       1093.219971
7       1082.729980
8       1095.099976
9       1113.859985
10      1115.719971
11      1118.410034
12      1112.280029
13      1094.579956
14      1098.839966
15      1077.010010
16      1087.589966
17      1107.109985
18      1106.369995
19      1100.650024
20      1103.209961
21      1119.489990
22      1132.880005
23      1129.280029
24      1133.199951
25      1138.489990
26      1133.839966
27      1148.560059
28      1146.420044
29      1157.329956
           ...
5255    2900.860107
5256    2908.320068
5257    2912.260010
5258    2916.040039
5259    2904.810059
5260    2898.780029
5261    2909.989990
5262    2934.000000
5263    2928.989990
5264    2925.810059
5265    2940.580078
5266    2937.139893
5267    2952.330078
5268    2922.159912
5269    2929.209961
5270    2908.889893
5271    2913.030029
5272    2879.610107
5273    2859.840088
5274    2863.100098
5275    2840.189941
5276    2820.120117
5277    2820.379883
5278    2855.800049
5279    2858.600098
5280    2841.939941
5281    2854.020020
5282    2856.060059
5283    2836.699951
5284    2832.409912
Name: Open, Length: 5285, dtype: float64

In [9]:
df["Open"].describe()

count    5285.000000
mean     1508.338967
std       522.983997
min       679.280029
25%      1144.109985
50%      1330.969971
75%      1842.969971
max      2952.330078
Name: Open, dtype: float64

In [10]:
#Columns can also be accessed as attributes of the dataframe:
#Note:this only works if the column names are legal python identifier
#(no spaces, no punctuation other than _, etc.)
df.Open.describe()

count    5285.000000
mean     1508.338967
std       522.983997
min       679.280029
25%      1144.109985
50%      1330.969971
75%      1842.969971
max      2952.330078
Name: Open, dtype: float64

In [11]:
type(df["Open"])
#Point out that each column in a df is a series object

pandas.core.series.Series

In [12]:
#accessing rows, by position
df.iloc[0]

Date         1998-05-26
Open            1110.47
High            1116.79
Low             1094.01
Close           1094.02
Adj Close       1094.02
Volume        541410000
Name: 0, dtype: object

In [13]:
df.iloc[0:5]
#point out that python range doesn't include the end index. 
#(n:m) only includes up to m-1

,Date,Open,High,Low,Close,Adj Close,Volume
0,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000
1,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000
2,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000
3,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000
4,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000

In [14]:

#In addition to accessing rows by position (using iloc()) , we can
#also access rows by index using loc()

#if no index is specified when opening the file, 
# loc reverts to using position
df.loc[0:5]

,Date,Open,High,Low,Close,Adj Close,Volume
0,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000
1,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000
2,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000
3,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000
4,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000
5,1998-06-02,1090.979980,1098.709961,1089.670044,1093.219971,1093.219971,590930000

In [15]:
# Let's sepcify date as an index
# explain the meaningof parameters
# explain that they are default parameters
df.set_index("Date", drop=False, inplace=True,verify_integrity=True)

In [16]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
1998-05-26,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000
1998-05-27,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000
1998-05-28,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000
1998-05-29,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000
1998-06-01,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000
1998-06-02,1998-06-02,1090.979980,1098.709961,1089.670044,1093.219971,1093.219971,590930000
1998-06-03,1998-06-03,1093.219971,1097.430054,1081.089966,1082.729980,1082.729980,584480000
1998-06-04,1998-06-04,1082.729980,1095.930054,1078.099976,1094.829956,1094.829956,577470000
1998-06-05,1998-06-05,1095.099976,1113.880005,1094.829956,1113.859985,1113.859985,558440000
1998-06-08,1998-06-08,1113.859985,1119.699951,1113.310059,1115.719971,1115.719971,543390000
1998-06-09,1998-06-09,1115.719971,1119.920044,1111.310059,1118.410034,1118.410034,563610000
1998-06-10,1998-06-10,1118.410034,1126.000000,1110.270020,1112.280029,1112.280029,609410000
1998-06-11,1998-06-11,1112.280029,1114.199951,1094.280029,1094.579956,1094.579956,627470000
1998-06-12,1998-06-12,1094.579956,1098.839966,1080.829956,1098.839966,1098.839966,633300000
1998-06-15,1998-06-15,1098.839966,1098.839966,1077.010010,1077.010010,1077.010010,595820000
1998-06-16,1998-06-16,1077.010010,1087.589966,1074.670044,1087.589966,1087.589966,664600000
1998-06-17,1998-06-17,1087.589966,1112.869995,1087.579956,1107.109985,1107.109985,744400000
1998-06-18,1998-06-18,1107.109985,1109.359985,1103.709961,1106.369995,1106.369995,590440000
1998-06-19,1998-06-19,1106.369995,1111.250000,1097.099976,1100.650024,1100.650024,715500000
1998-06-22,1998-06-22,1100.650024,1109.010010,1099.420044,1103.209961,1103.209961,531550000
1998-06-23,1998-06-23,1103.209961,1119.489990,1103.209961,1119.489990,1119.489990,657100000
1998-06-24,1998-06-24,1119.489990,1134.400024,1115.099976,1132.880005,1132.880005,714900000
1998-06-25,1998-06-25,1132.880005,1142.040039,1127.599976,1129.280029,1129.280029,669900000
1998-06-26,1998-06-26,1129.280029,1136.829956,1129.280029,1133.199951,1133.199951,520050000
1998-06-29,1998-06-29,1133.199951,1145.150024,1133.199951,1138.489990,1138.489990,564350000
1998-06-30,1998-06-30,1138.489990,1140.800049,1131.979980,1133.839966,1133.839966,757200000
1998-07-01,1998-07-01,1133.839966,1148.560059,1133.839966,1148.560059,1148.560059,701600000
1998-07-02,1998-07-02,1148.560059,1148.560059,1142.989990,1146.420044,1146.420044,510210000
1998-07-06,1998-07-06,1146.420044,1157.329956,1145.030029,1157.329956,1157.329956,514750000
1998-07-07,1998-07-07,1157.329956,1159.810059,1152.849976,1154.660034,1154.660034,624890000
...,...,...,...,...,...,...,...
2019-04-12,2019-04-12,2900.860107,2910.540039,2898.370117,2907.409912,2907.409912,3688490000
2019-04-15,2019-04-15,2908.320068,2909.600098,2896.479980,2905.580078,2905.580078,3088330000
2019-04-16,2019-04-16,2912.260010,2916.060059,2900.709961,2907.060059,2907.060059,3402210000
2019-04-17,2019-04-17,2916.040039,2918.000000,2895.449951,2900.449951,2900.449951,3602300000
2019-04-18,2019-04-18,2904.810059,2908.399902,2891.899902,2905.030029,2905.030029,3506850000
2019-04-22,2019-04-22,2898.780029,2909.510010,2896.350098,2907.969971,2907.969971,2997950000
2019-04-23,2019-04-23,2909.989990,2936.310059,2908.530029,2933.679932,2933.679932,3635030000
2019-04-24,2019-04-24,2934.000000,2936.830078,2926.050049,2927.250000,2927.250000,3448960000
2019-04-25,2019-04-25,2928.989990,2933.100098,2912.840088,2926.169922,2926.169922,3425280000
2019-04-26,2019-04-26,2925.810059,2939.879883,2917.560059,2939.879883,2939.879883,3248500000
2019-04-29,2019-04-29,2940.580078,2949.520020,2939.350098,2943.030029,2943.030029,3118780000
2019-04-30,2019-04-30,2937.139893,2948.219971,2924.110107,2945.830078,2945.830078,3919330000
2019-05-01,2019-05-01,2952.330078,2954.129883,2923.360107,2923.729980,2923.729980,3645850000
2019-05-02,2019-05-02,2922.159912,2931.679932,2900.500000,2917.520020,2917.520020,3778890000
2019-05-03,2019-05-03,2929.209961,2947.850098,2929.209961,2945.639893,2945.639893,3338120000
2019-05-06,2019-05-06,2908.889893,2937.320068,2898.209961,2932.469971,2932.469971,3181520000
2019-05-07,2019-05-07,2913.030029,2913.030029,2862.600098,2884.050049,2884.050049,3767100000
2019-05-08,2019-05-08,2879.610107,2897.959961,2873.280029,2879.419922,2879.419922,3485790000
2019-05-09,2019-05-09,2859.840088,2875.969971,2836.399902,2870.719971,2870.719971,3638820000
2019-05-10,2019-05-10,2863.100098,2891.310059,2825.389893,2881.399902,2881.399902,3529600000
2019-05-13,2019-05-13,2840.189941,2840.189941,2801.429932,2811.870117,2811.870117,3894030000
2019-05-14,2019-05-14,2820.120117,2852.540039,2820.120117,2834.409912,2834.409912,3322720000
2019-05-15,2019-05-15,2820.379883,2858.679932,2815.080078,2850.959961,2850.959961,3125950000
2019-05-16,2019-05-16,2855.800049,2892.149902,2855.800049,2876.320068,2876.320068,3338060000
2019-05-17,2019-05-17,2858.600098,2885.479980,2854.229980,2859.530029,2859.530029,3257950000
2019-05-20,2019-05-20,2841.939941,2853.860107,2831.290039,2840.229980,2840.229980,3288870000
2019-05-21,2019-05-21,2854.020020,2868.879883,2854.020020,2864.360107,2864.360107,3218700000
2019-05-22,2019-05-22,2856.060059,2865.469971,2851.110107,2856.270020,2856.270020,3192510000
2019-05-23,2019-05-23,2836.699951,2836.699951,2805.489990,2822.239990,2822.239990,3891980000
2019-05-24,2019-05-24,2832.409912,2841.360107,2820.189941,2826.060059,2826.060059,2887390000

In [17]:
#so now loc no longer works with positions
df.loc[0:5]

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [0] of <class 'int'>

In [18]:
#now loc takes index values
df.loc["1998-05-26"]

Date         1998-05-26
Open            1110.47
High            1116.79
Low             1094.01
Close           1094.02
Adj Close       1094.02
Volume        541410000
Name: 1998-05-26, dtype: object

In [19]:
df.loc["1998-05-26":"1998-06-07"]

,Date,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
1998-05-26,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000
1998-05-27,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000
1998-05-28,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000
1998-05-29,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000
1998-06-01,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000
1998-06-02,1998-06-02,1090.979980,1098.709961,1089.670044,1093.219971,1093.219971,590930000
1998-06-03,1998-06-03,1093.219971,1097.430054,1081.089966,1082.729980,1082.729980,584480000
1998-06-04,1998-06-04,1082.729980,1095.930054,1078.099976,1094.829956,1094.829956,577470000
1998-06-05,1998-06-05,1095.099976,1113.880005,1094.829956,1113.859985,1113.859985,558440000

In [20]:
# accessing by rows and columns:
# by position:
df.iloc[0:10, 2:4 ]

                   High          Low
Date
1998-05-26  1116.790039  1094.010010
1998-05-27  1094.439941  1074.390015
1998-05-28  1099.729980  1089.060059
1998-05-29  1104.160034  1090.819946
1998-06-01  1097.849976  1084.219971
1998-06-02  1098.709961  1089.670044
1998-06-03  1097.430054  1081.089966
1998-06-04  1095.930054  1078.099976
1998-06-05  1113.880005  1094.829956
1998-06-08  1119.699951  1113.310059

In [21]:
# by labels:
df["1998-05-26":"1998-06-07"]["High"]

Date
1998-05-26    1116.790039
1998-05-27    1094.439941
1998-05-28    1099.729980
1998-05-29    1104.160034
1998-06-01    1097.849976
1998-06-02    1098.709961
1998-06-03    1097.430054
1998-06-04    1095.930054
1998-06-05    1113.880005
Name: High, dtype: float64

In [22]:
df.loc["1998-05-26":"1998-06-07"][["High","Low"]]
#note that column labels are in a list

                   High          Low
Date
1998-05-26  1116.790039  1094.010010
1998-05-27  1094.439941  1074.390015
1998-05-28  1099.729980  1089.060059
1998-05-29  1104.160034  1090.819946
1998-06-01  1097.849976  1084.219971
1998-06-02  1098.709961  1089.670044
1998-06-03  1097.430054  1081.089966
1998-06-04  1095.930054  1078.099976
1998-06-05  1113.880005  1094.829956

#### In summary:
#### Rows and columns can be picked by labels or by positions.
#### when picking by labels, labels can be applied to df directly: df[label],  df[rowlabel][columnlabel], df[columnlabel][rowlabel]

#### iloc is used for selecting by position

#### positions can be specified individually, as a slice object (2:8), or a a list of integers

#### same for row labels. column labels can be individual values or lists, but no slices

## 3 Adding and Dropping Columns

In [23]:
#Adding a new column:
# any list that has the same length as the dataframe can be made into a new column
df["NewCol"] = [5] * len(df)  
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,NewCol
Date,,,,,,,,
1998-05-26,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000,5
1998-05-27,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000,5
1998-05-28,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000,5
1998-05-29,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000,5
1998-06-01,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000,5

In [24]:
#Removing columns is a bit more involved:
df.drop("NewCol", axis=1, inplace=True)
# axis=1 tells pandas that we are deleting a column not a row
# inplace=True tells pandas to modify the current df, not return a new one
# (if not specified, the default is false and pandas will return modified
# df that should be stored somewhere - show example without inplace)
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
1998-05-26,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000
1998-05-27,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000
1998-05-28,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000
1998-05-29,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000
1998-06-01,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000

In [25]:
# Of course, we woukd like to do something more useful
# That usually means the new column is a result from operating on existing columns
# E.g. Let's add a column that records the difference between
# the index's closing value and the index opening value:
df["Change_from_Open"] = df["Close"] - df["Open"]
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Change_from_Open
Date,,,,,,,,
1998-05-26,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000,-16.449951
1998-05-27,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000,-1.790040
1998-05-28,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000,5.369996
1998-05-29,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000,-6.780030
1998-06-01,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000,0.160034

In [26]:
# What if we want to create a column based on comparing each row
# with the previous row. e.g. for each day, calculate the change between
# the day's close and the previous day close:

# we can use the function  "shift"to do this 
df["Open"].shift(3)
#try also shift(-3), etc.

# Note that this is mot changing the series/column, just returning a new one

Date
1998-05-26            NaN
1998-05-27            NaN
1998-05-28            NaN
1998-05-29    1110.469971
1998-06-01    1094.020020
1998-06-02    1092.229980
1998-06-03    1097.599976
1998-06-04    1090.819946
1998-06-05    1090.979980
1998-06-08    1093.219971
1998-06-09    1082.729980
1998-06-10    1095.099976
1998-06-11    1113.859985
1998-06-12    1115.719971
1998-06-15    1118.410034
1998-06-16    1112.280029
1998-06-17    1094.579956
1998-06-18    1098.839966
1998-06-19    1077.010010
1998-06-22    1087.589966
1998-06-23    1107.109985
1998-06-24    1106.369995
1998-06-25    1100.650024
1998-06-26    1103.209961
1998-06-29    1119.489990
1998-06-30    1132.880005
1998-07-01    1129.280029
1998-07-02    1133.199951
1998-07-06    1138.489990
1998-07-07    1133.839966
                 ...
2019-04-12    2886.580078
2019-04-15    2881.370117
2019-04-16    2891.919922
2019-04-17    2900.860107
2019-04-18    2908.320068
2019-04-22    2912.260010
2019-04-23    2916.040039
2019-04-24    2904.810059
2019-04-25    2898.780029
2019-04-26    2909.989990
2019-04-29    2934.000000
2019-04-30    2928.989990
2019-05-01    2925.810059
2019-05-02    2940.580078
2019-05-03    2937.139893
2019-05-06    2952.330078
2019-05-07    2922.159912
2019-05-08    2929.209961
2019-05-09    2908.889893
2019-05-10    2913.030029
2019-05-13    2879.610107
2019-05-14    2859.840088
2019-05-15    2863.100098
2019-05-16    2840.189941
2019-05-17    2820.120117
2019-05-20    2820.379883
2019-05-21    2855.800049
2019-05-22    2858.600098
2019-05-23    2841.939941
2019-05-24    2854.020020
Name: Open, Length: 5285, dtype: float64

In [27]:
# we can now use this to calculate the change between close 
# and previous close:

df["Change_from_Prev_Close"] = df.Close - df.Close.shift(1)
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Change_from_Open,Change_from_Prev_Close
Date,,,,,,,,,
1998-05-26,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000,-16.449951,NaN
1998-05-27,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000,-1.790040,-1.790040
1998-05-28,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000,5.369996,5.369996
1998-05-29,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000,-6.780030,-6.780030
1998-06-01,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000,0.160034,0.160034

In [28]:
# Let's calculate change from previous close in percentage. 

# We can do this in a couple of ways:

df["Change_from_prev_percentage"] = ((df["Close"] - df["Close"].shift(1)) * 100)/df["Close"].shift(1)

# And then we may want to round the result:
df["Change_from_prev_percentage"] = round(df["Change_from_prev_percentage"], 2)

df.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume,Change_from_Open,Change_from_Prev_Close,Change_from_prev_percentage
Date,,,,,,,,,,
1998-05-26,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000,-16.449951,NaN,NaN
1998-05-27,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000,-1.790040,-1.790040,-0.16
1998-05-28,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000,5.369996,5.369996,0.49
1998-05-29,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000,-6.780030,-6.780030,-0.62
1998-06-01,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000,0.160034,0.160034,0.01
1998-06-02,1998-06-02,1090.979980,1098.709961,1089.670044,1093.219971,1093.219971,590930000,2.239991,2.239991,0.21
1998-06-03,1998-06-03,1093.219971,1097.430054,1081.089966,1082.729980,1082.729980,584480000,-10.489991,-10.489991,-0.96
1998-06-04,1998-06-04,1082.729980,1095.930054,1078.099976,1094.829956,1094.829956,577470000,12.099976,12.099976,1.12
1998-06-05,1998-06-05,1095.099976,1113.880005,1094.829956,1113.859985,1113.859985,558440000,18.760009,19.030029,1.74
1998-06-08,1998-06-08,1113.859985,1119.699951,1113.310059,1115.719971,1115.719971,543390000,1.859986,1.859986,0.17

In [29]:
# But, instead of having one long formula on one line we can also define our own function:

def calc_percentage_one_day(df):
    close = df["Close"]
    prev_close = df["Close"].shift(1)
    change_abs = close - prev_close
    change_percentage = (change_abs/prev_close) * 100
    change_percentage = round(change_percentage, 1)
    return change_percentage


# And now, we can create the new column by just calling the function:

df["Change_from_prev_percentage"] = calc_percentage_one_day(df)

df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Change_from_Open,Change_from_Prev_Close,Change_from_prev_percentage
Date,,,,,,,,,,
1998-05-26,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000,-16.449951,NaN,NaN
1998-05-27,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000,-1.790040,-1.790040,-0.2
1998-05-28,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000,5.369996,5.369996,0.5
1998-05-29,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000,-6.780030,-6.780030,-0.6
1998-06-01,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000,0.160034,0.160034,0.0

## 4 Type Casting and Working with Dates

In [34]:
# In most cases, the types of the values (strings, ints, etc. ) will be parsed correctly
# In some cases, we may need to explicitly change the type. Very common with dates
# Let's look at our data again, we kept the Date column for a reason:

type(df["Date"][0])

#this is a built-in python function to check the type

str

In [36]:
# We can typecast those strings to Datetime stamps.
# This should allow us to reference the month, the weekday, etc.:

df["Date"].to_datetime()

AttributeError: 'Series' object has no attribute 'to_datetime'

In [43]:
df["Date"] = pd.to_datetime(df["Date"])
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Change_from_Open,Change_from_Prev_Close,Change_from_prev_percentage
Date,,,,,,,,,,
1998-05-26,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000,-16.449951,NaN,NaN
1998-05-27,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000,-1.790040,-1.790040,-0.2
1998-05-28,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000,5.369996,5.369996,0.5
1998-05-29,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000,-6.780030,-6.780030,-0.6
1998-06-01,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000,0.160034,0.160034,0.0

In [54]:
# Let's check
df["Date"][0]

Timestamp('1998-05-26 00:00:00')

In [64]:
# So we can use this for many things: for example, we can add the name of the day to each row:
df["DayOfWeek"] = df["Date"].dt.day_name()

# Note how we had to use .dt to access the datetime functionalities !!
df.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume,Change_from_Open,Change_from_Prev_Close,Change_from_prev_percentage,DayOfWeek
Date,,,,,,,,,,,
1998-05-26,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000,-16.449951,NaN,NaN,Tuesday
1998-05-27,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000,-1.790040,-1.790040,-0.2,Wednesday
1998-05-28,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000,5.369996,5.369996,0.5,Thursday
1998-05-29,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000,-6.780030,-6.780030,-0.6,Friday
1998-06-01,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000,0.160034,0.160034,0.0,Monday
1998-06-02,1998-06-02,1090.979980,1098.709961,1089.670044,1093.219971,1093.219971,590930000,2.239991,2.239991,0.2,Tuesday
1998-06-03,1998-06-03,1093.219971,1097.430054,1081.089966,1082.729980,1082.729980,584480000,-10.489991,-10.489991,-1.0,Wednesday
1998-06-04,1998-06-04,1082.729980,1095.930054,1078.099976,1094.829956,1094.829956,577470000,12.099976,12.099976,1.1,Thursday
1998-06-05,1998-06-05,1095.099976,1113.880005,1094.829956,1113.859985,1113.859985,558440000,18.760009,19.030029,1.7,Friday
1998-06-08,1998-06-08,1113.859985,1119.699951,1113.310059,1115.719971,1115.719971,543390000,1.859986,1.859986,0.2,Monday

In [68]:
# Let's add month name and quarter:

# Note how some of these are functions (callable, ending with ()), and some are attribute values
df["Month"] = df["Date"].dt.month_name()
df["Quarter"] = df["Date"].dt.quarter
df.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume,Change_from_Open,Change_from_Prev_Close,Change_from_prev_percentage,DayOfWeek,Month,Quarter
Date,,,,,,,,,,,,,
1998-05-26,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000,-16.449951,NaN,NaN,Tuesday,May,2
1998-05-27,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000,-1.790040,-1.790040,-0.2,Wednesday,May,2
1998-05-28,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000,5.369996,5.369996,0.5,Thursday,May,2
1998-05-29,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000,-6.780030,-6.780030,-0.6,Friday,May,2
1998-06-01,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000,0.160034,0.160034,0.0,Monday,June,2
1998-06-02,1998-06-02,1090.979980,1098.709961,1089.670044,1093.219971,1093.219971,590930000,2.239991,2.239991,0.2,Tuesday,June,2
1998-06-03,1998-06-03,1093.219971,1097.430054,1081.089966,1082.729980,1082.729980,584480000,-10.489991,-10.489991,-1.0,Wednesday,June,2
1998-06-04,1998-06-04,1082.729980,1095.930054,1078.099976,1094.829956,1094.829956,577470000,12.099976,12.099976,1.1,Thursday,June,2
1998-06-05,1998-06-05,1095.099976,1113.880005,1094.829956,1113.859985,1113.859985,558440000,18.760009,19.030029,1.7,Friday,June,2
1998-06-08,1998-06-08,1113.859985,1119.699951,1113.310059,1115.719971,1115.719971,543390000,1.859986,1.859986,0.2,Monday,June,2

### Changing order of Columns

In [71]:
curr_columns = df.columns

print(curr_columns)

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'Change_from_Open', 'Change_from_Prev_Close',
       'Change_from_prev_percentage', 'DayOfWeek', 'Month', 'Quarter'],
      dtype='object')

In [73]:
new_columns = ['Date', 'DayOfWeek', 'Month', 'Quarter', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'Change_from_Open', 'Change_from_Prev_Close',
       'Change_from_prev_percentage']

df = df.reindex(columns=new_columns)
df.head()

,Date,DayOfWeek,Month,Quarter,Open,High,Low,Close,Adj Close,Volume,Change_from_Open,Change_from_Prev_Close,Change_from_prev_percentage
Date,,,,,,,,,,,,,
1998-05-26,1998-05-26,Tuesday,May,2,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000,-16.449951,NaN,NaN
1998-05-27,1998-05-27,Wednesday,May,2,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000,-1.790040,-1.790040,-0.2
1998-05-28,1998-05-28,Thursday,May,2,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000,5.369996,5.369996,0.5
1998-05-29,1998-05-29,Friday,May,2,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000,-6.780030,-6.780030,-0.6
1998-06-01,1998-06-01,Monday,June,2,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000,0.160034,0.160034,0.0

 ### 5 Groupby operations:
 
 https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html

In [90]:
# Say we want to find sum of changes per day:
# note: I am not sure this is the best application of groupby


# Try functions: mean, median, sum, max, min
df.groupby(["DayOfWeek"])["Change_from_prev_percentage"].sum()

DayOfWeek
Friday       14.4
Monday       -3.1
Thursday     33.3
Tuesday      49.4
Wednesday    40.8
Name: Change_from_prev_percentage, dtype: float64

In [94]:
# Let's see how much the index changed for every month since June 1998
# Possible exercise:

df["Year"] = df["Date"].dt.year
df

,Date,DayOfWeek,Month,Quarter,Open,High,Low,Close,Adj Close,Volume,Change_from_Open,Change_from_Prev_Close,Change_from_prev_percentage,Year
Date,,,,,,,,,,,,,,
1998-05-26,1998-05-26,Tuesday,May,2,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000,-16.449951,NaN,NaN,1998
1998-05-27,1998-05-27,Wednesday,May,2,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000,-1.790040,-1.790040,-0.2,1998
1998-05-28,1998-05-28,Thursday,May,2,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000,5.369996,5.369996,0.5,1998
1998-05-29,1998-05-29,Friday,May,2,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000,-6.780030,-6.780030,-0.6,1998
1998-06-01,1998-06-01,Monday,June,2,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000,0.160034,0.160034,0.0,1998
1998-06-02,1998-06-02,Tuesday,June,2,1090.979980,1098.709961,1089.670044,1093.219971,1093.219971,590930000,2.239991,2.239991,0.2,1998
1998-06-03,1998-06-03,Wednesday,June,2,1093.219971,1097.430054,1081.089966,1082.729980,1082.729980,584480000,-10.489991,-10.489991,-1.0,1998
1998-06-04,1998-06-04,Thursday,June,2,1082.729980,1095.930054,1078.099976,1094.829956,1094.829956,577470000,12.099976,12.099976,1.1,1998
1998-06-05,1998-06-05,Friday,June,2,1095.099976,1113.880005,1094.829956,1113.859985,1113.859985,558440000,18.760009,19.030029,1.7,1998
1998-06-08,1998-06-08,Monday,June,2,1113.859985,1119.699951,1113.310059,1115.719971,1115.719971,543390000,1.859986,1.859986,0.2,1998
1998-06-09,1998-06-09,Tuesday,June,2,1115.719971,1119.920044,1111.310059,1118.410034,1118.410034,563610000,2.690063,2.690063,0.2,1998
1998-06-10,1998-06-10,Wednesday,June,2,1118.410034,1126.000000,1110.270020,1112.280029,1112.280029,609410000,-6.130005,-6.130005,-0.5,1998
1998-06-11,1998-06-11,Thursday,June,2,1112.280029,1114.199951,1094.280029,1094.579956,1094.579956,627470000,-17.700073,-17.700073,-1.6,1998
1998-06-12,1998-06-12,Friday,June,2,1094.579956,1098.839966,1080.829956,1098.839966,1098.839966,633300000,4.260010,4.260010,0.4,1998
1998-06-15,1998-06-15,Monday,June,2,1098.839966,1098.839966,1077.010010,1077.010010,1077.010010,595820000,-21.829956,-21.829956,-2.0,1998
1998-06-16,1998-06-16,Tuesday,June,2,1077.010010,1087.589966,1074.670044,1087.589966,1087.589966,664600000,10.579956,10.579956,1.0,1998
1998-06-17,1998-06-17,Wednesday,June,2,1087.589966,1112.869995,1087.579956,1107.109985,1107.109985,744400000,19.520019,19.520019,1.8,1998
1998-06-18,1998-06-18,Thursday,June,2,1107.109985,1109.359985,1103.709961,1106.369995,1106.369995,590440000,-0.739990,-0.739990,-0.1,1998
1998-06-19,1998-06-19,Friday,June,2,1106.369995,1111.250000,1097.099976,1100.650024,1100.650024,715500000,-5.719971,-5.719971,-0.5,1998
1998-06-22,1998-06-22,Monday,June,2,1100.650024,1109.010010,1099.420044,1103.209961,1103.209961,531550000,2.559937,2.559937,0.2,1998
1998-06-23,1998-06-23,Tuesday,June,2,1103.209961,1119.489990,1103.209961,1119.489990,1119.489990,657100000,16.280029,16.280029,1.5,1998
1998-06-24,1998-06-24,Wednesday,June,2,1119.489990,1134.400024,1115.099976,1132.880005,1132.880005,714900000,13.390015,13.390015,1.2,1998
1998-06-25,1998-06-25,Thursday,June,2,1132.880005,1142.040039,1127.599976,1129.280029,1129.280029,669900000,-3.599976,-3.599976,-0.3,1998
1998-06-26,1998-06-26,Friday,June,2,1129.280029,1136.829956,1129.280029,1133.199951,1133.199951,520050000,3.919922,3.919922,0.3,1998
1998-06-29,1998-06-29,Monday,June,2,1133.199951,1145.150024,1133.199951,1138.489990,1138.489990,564350000,5.290039,5.290039,0.5,1998
1998-06-30,1998-06-30,Tuesday,June,2,1138.489990,1140.800049,1131.979980,1133.839966,1133.839966,757200000,-4.650024,-4.650024,-0.4,1998
1998-07-01,1998-07-01,Wednesday,July,3,1133.839966,1148.560059,1133.839966,1148.560059,1148.560059,701600000,14.720093,14.720093,1.3,1998
1998-07-02,1998-07-02,Thursday,July,3,1148.560059,1148.560059,1142.989990,1146.420044,1146.420044,510210000,-2.140015,-2.140015,-0.2,1998
1998-07-06,1998-07-06,Monday,July,3,1146.420044,1157.329956,1145.030029,1157.329956,1157.329956,514750000,10.909912,10.909912,1.0,1998
1998-07-07,1998-07-07,Tuesday,July,3,1157.329956,1159.810059,1152.849976,1154.660034,1154.660034,624890000,-2.669922,-2.669922,-0.2,1998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-04-12,2019-04-12,Friday,April,2,2900.860107,2910.540039,2898.370117,2907.409912,2907.409912,3688490000,6.549805,19.089844,0.7,2019
2019-04-15,2019-04-15,Monday,April,2,2908.320068,2909.600098,2896.479980,2905.580078,2905.580078,3088330000,-2.739990,-1.829834,-0.1,2019
2019-04-16,2019-04-16,Tuesday,April,2,2912.260010,2916.060059,2900.709961,2907.060059,2907.060059,3402210000,-5.199951,1.479981,0.1,2019
2019-04-17,2019-04-17,Wednesday,April,2,2916.040039,2918.000000,2895.449951,2900.449951,2900.449951,3602300000,-15.590088,-6.610108,-0.2,2019
2019-04-18,2019-04-18,Thursday,April,2,2904.810059,2908.399902,2891.899902,2905.030029,2905.030029,3506850000,0.219970,4.580078,0.2,2019
2019-04-22,2019-04-22,Monday,April,2,2898.780029,2909.510010,2896.350098,2907.969971,2907.969971,2997950000,9.189942,2.939942,0.1,2019
2019-04-23,2019-04-23,Tuesday,April,2,2909.989990,2936.310059,2908.530029,2933.679932,2933.679932,3635030000,23.689942,25.709961,0.9,2019
2019-04-24,2019-04-24,Wednesday,April,2,2934.000000,2936.830078,2926.050049,2927.250000,2927.250000,3448960000,-6.750000,-6.429932,-0.2,2019
2019-04-25,2019-04-25,Thursday,April,2,2928.989990,2933.100098,2912.840088,2926.169922,2926.169922,3425280000,-2.820068,-1.080078,-0.0,2019
2019-04-26,2019-04-26,Friday,April,2,2925.810059,2939.879883,2917.560059,2939.879883,2939.879883,3248500000,14.069824,13.709961,0.5,2019
2019-04-29,2019-04-29,Monday,April,2,2940.580078,2949.520020,2939.350098,2943.030029,2943.030029,3118780000,2.449951,3.150146,0.1,2019
2019-04-30,2019-04-30,Tuesday,April,2,2937.139893,2948.219971,2924.110107,2945.830078,2945.830078,3919330000,8.690185,2.800049,0.1,2019
2019-05-01,2019-05-01,Wednesday,May,2,2952.330078,2954.129883,2923.360107,2923.729980,2923.729980,3645850000,-28.600098,-22.100098,-0.8,2019
2019-05-02,2019-05-02,Thursday,May,2,2922.159912,2931.679932,2900.500000,2917.520020,2917.520020,3778890000,-4.639892,-6.209960,-0.2,2019
2019-05-03,2019-05-03,Friday,May,2,2929.209961,2947.850098,2929.209961,2945.639893,2945.639893,3338120000,16.429932,28.119873,1.0,2019
2019-05-06,2019-05-06,Monday,May,2,2908.889893,2937.320068,2898.209961,2932.469971,2932.469971,3181520000,23.580078,-13.169922,-0.4,2019
2019-05-07,2019-05-07,Tuesday,May,2,2913.030029,2913.030029,2862.600098,2884.050049,2884.050049,3767100000,-28.979980,-48.419922,-1.7,2019
2019-05-08,2019-05-08,Wednesday,May,2,2879.610107,2897.959961,2873.280029,2879.419922,2879.419922,3485790000,-0.190185,-4.630127,-0.2,2019
2019-05-09,2019-05-09,Thursday,May,2,2859.840088,2875.969971,2836.399902,2870.719971,2870.719971,3638820000,10.879883,-8.699951,-0.3,2019
2019-05-10,2019-05-10,Friday,May,2,2863.100098,2891.310059,2825.389893,2881.399902,2881.399902,3529600000,18.299804,10.679931,0.4,2019
2019-05-13,2019-05-13,Monday,May,2,2840.189941,2840.189941,2801.429932,2811.870117,2811.870117,3894030000,-28.319824,-69.529785,-2.4,2019
2019-05-14,2019-05-14,Tuesday,May,2,2820.120117,2852.540039,2820.120117,2834.409912,2834.409912,3322720000,14.289795,22.539795,0.8,2019
2019-05-15,2019-05-15,Wednesday,May,2,2820.379883,2858.679932,2815.080078,2850.959961,2850.959961,3125950000,30.580078,16.550049,0.6,2019
2019-05-16,2019-05-16,Thursday,May,2,2855.800049,2892.149902,2855.800049,2876.320068,2876.320068,3338060000,20.520019,25.360107,0.9,2019
2019-05-17,2019-05-17,Friday,May,2,2858.600098,2885.479980,2854.229980,2859.530029,2859.530029,3257950000,0.929931,-16.790039,-0.6,2019
2019-05-20,2019-05-20,Monday,May,2,2841.939941,2853.860107,2831.290039,2840.229980,2840.229980,3288870000,-1.709961,-19.300049,-0.7,2019
2019-05-21,2019-05-21,Tuesday,May,2,2854.020020,2868.879883,2854.020020,2864.360107,2864.360107,3218700000,10.340087,24.130127,0.8,2019
2019-05-22,2019-05-22,Wednesday,May,2,2856.060059,2865.469971,2851.110107,2856.270020,2856.270020,3192510000,0.209961,-8.090087,-0.3,2019
2019-05-23,2019-05-23,Thursday,May,2,2836.699951,2836.699951,2805.489990,2822.239990,2822.239990,3891980000,-14.459961,-34.030030,-1.2,2019
2019-05-24,2019-05-24,Friday,May,2,2832.409912,2841.360107,2820.189941,2826.060059,2826.060059,2887390000,-6.349853,3.820069,0.1,2019

In [108]:
# Let's aggregate the percetnage, but let's average the open, close, and let's take the max and min for high and low

df_agg = df.groupby(["Year", "Month"]).agg({"Change_from_prev_percentage": sum, 
                                            "Open": pd.Series.mean, 
                                           "Close": pd.Series.mean,
                                           "High": pd.Series.max,
                                           "Low": pd.Series.min})

df_agg

                Change_from_prev_percentage         Open        Close  \
Year Month
1998 August                           -15.2  1082.400949  1074.620472
     December                           5.6  1187.069086  1190.050903
     July                              -0.8  1157.176353  1156.577271
     June                               3.9  1106.446350  1108.389532
     May                               -0.3  1098.579987  1093.667481
     November                           5.9  1141.185486  1144.433484
     October                            8.2  1028.758190  1032.470010
     September                          6.5  1017.795239  1020.640000
1999 April                              4.0  1332.433803  1334.756662
     August                            -0.6  1327.866378  1327.488653
     December                           5.5  1425.031367  1428.684093
     February                          -2.9  1248.756328  1246.582115
     January                            4.3  1246.121576  1248.774735
     July                              -3.3  1383.084287  1380.990002
     June                               5.4  1319.330916  1322.552734
     March                              3.7  1279.575217  1281.663914
     May                               -2.4  1333.741016  1332.074011
     November                           2.1  1389.765706  1391.002848
     October                            6.1  1296.190005  1300.010010
     September                         -2.9  1319.966669  1318.171904
2000 April                             -2.7  1463.784726  1461.355257
     August                             5.7  1481.682166  1485.458257
     December                           0.7  1330.672498  1330.929498
     February                          -1.7  1390.275995  1388.874500
     January                           -4.9  1429.325006  1425.585504
     July                              -1.7  1474.190997  1473.002496
     June                               2.4  1460.413635  1461.959090
     March                              9.6  1436.466951  1442.212599
     May                               -2.1  1419.925914  1418.479548
     November                          -8.2  1380.585228  1375.037603
...                                     ...          ...          ...
2016 September                         -0.3  2157.573835  2157.690965
2017 April                              1.1  2360.150005  2359.309455
     August                             0.3  2456.749968  2456.223070
     December                           1.2  2666.069995  2664.340527
     February                           3.6  2325.585282  2329.910542
     January                            1.7  2273.531970  2275.115979
     July                               1.9  2453.039490  2454.102502
     June                               0.6  2434.683605  2433.985451
     March                              0.1  2366.868705  2366.822170
     May                                1.3  2394.470004  2395.345881
     November                           2.7  2590.306164  2593.605736
     October                            2.2  2555.807273  2556.997270
     September                          2.0  2491.332495  2492.841040
2018 April                              0.4  2657.641416  2653.625209
     August                             3.1  2854.545644  2857.820429
     December                          -9.2  2580.702624  2567.307386
     February                          -3.8  2710.269467  2705.155248
     January                            5.2  2785.686651  2789.803816
     July                               3.5  2789.537156  2793.643357
     June                               0.5  2754.971424  2754.352888
     March                             -2.5  2707.860003  2702.773821
     May                                2.2  2699.121837  2701.493619
     November                           1.9  2719.651902  2723.231422
     October                           -6.8  2796.075662  2785.464780
     September                          0.3  2901.570004  2901.500514
2019 April                              4.1  2900.810489  2903.799979
     February                           2.9  2750.142141  2754.864206
     January                            7.8  2597.898589  2607.389997
     March                              1.9  2803.595250  2803.983794
     May                               -4.2  2869.132785  2870.955553

                       High          Low
Year Month
1998 August     1121.790039   957.280029
     December   1244.930054  1136.890015
     July       1190.579956  1114.300049
     June       1145.150024  1074.670044
     May        1116.790039  1074.390015
     November   1192.969971  1098.670044
     October    1103.780029   923.320007
     September  1066.109985   939.979980
1999 April      1371.560059  1282.560059
     August     1382.839966  1267.729980
     December   1473.099976  1387.380005
     February   1283.839966  1211.890015
     January    1280.369995  1205.459961
     July       1420.329956  1328.489990
     June       1372.930054  1277.469971
     March      1323.819946  1216.030029
     May        1375.979980  1277.310059
     November   1425.310059  1346.410034
     October    1373.170044  1233.699951
     September  1361.390015  1256.260010
2000 April      1527.189941  1339.400024
     August     1525.209961  1425.430054
     December   1389.050049  1254.069946
     February   1444.550049  1325.069946
     January    1478.000000  1350.140015
     July       1517.319946  1413.890015
     June       1488.930054  1420.599976
     March      1552.869995  1346.619995
     May        1481.510010  1361.089966
     November   1438.459961  1294.900024
...                     ...          ...
2016 September  2187.870117  2119.120117
2017 April      2398.159912  2328.949951
     August     2490.870117  2417.350098
     December   2694.969971  2605.520020
     February   2371.540039  2271.649902
     January    2300.989990  2245.129883
     July       2484.040039  2407.699951
     June       2453.820068  2405.699951
     March      2400.979980  2322.250000
     May        2418.709961  2352.719971
     November   2657.739990  2557.449951
     October    2582.979980  2520.399902
     September  2519.439941  2446.550049
2018 April      2717.489990  2553.800049
     August     2916.500000  2796.340088
     December   2800.179932  2346.580078
     February   2835.959961  2532.689941
     January    2872.870117  2682.360107
     July       2848.030029  2698.949951
     June       2791.469971  2691.989990
     March      2801.899902  2585.889893
     May        2742.239990  2594.620117
     November   2815.149902  2631.090088
     October    2939.860107  2603.540039
     September  2940.909912  2864.120117
2019 April      2949.520020  2848.629883
     February   2813.489990  2681.830078
     January    2708.949951  2443.959961
     March      2860.310059  2722.270020
     May        2954.129883  2801.429932

[253 rows x 5 columns]

In [109]:
# Let's attempt to sort by Month name:

df_agg.sort_values("Month")

# Clearly that is not helpful, it sorted by month alphabetical name instead of month order. For that we need to 
# add a column with the month number

,,Change_from_prev_percentage,Open,Close,High,Low
Year,Month,,,,,
2013,April,1.800000e+00,1569.419544,1570.702265,1597.569946,1536.030029
2003,April,7.800000e+00,886.752380,890.025713,924.239990,847.849976
2001,April,7.900000e+00,1185.381000,1189.837000,1269.300049,1091.989990
2018,April,4.000000e-01,2657.641416,2653.625209,2717.489990,2553.800049
2017,April,1.100000e+00,2360.150005,2359.309455,2398.159912,2328.949951
2004,April,-1.700000e+00,1133.976667,1133.078573,1150.569946,1107.229980
2005,April,-1.800000e+00,1165.547613,1164.427612,1191.880005,1136.150024
2016,April,5.000000e-01,2075.073835,2075.535232,2111.050049,2033.800049
2006,April,1.200000e+00,1301.777376,1302.165270,1318.160034,1280.739990
2000,April,-2.700000e+00,1463.784726,1461.355257,1527.189941,1339.400024
2015,April,9.000000e-01,2094.028123,2094.862840,2125.919922,2048.379883
2008,April,4.800000e+00,1367.893627,1370.469094,1404.569946,1324.349976
2007,April,4.300000e+00,1460.503986,1463.640503,1498.020020,1416.369995
2002,April,-6.300000e+00,1115.237721,1112.034540,1147.839966,1063.459961
2012,April,-6.000000e-01,1386.933990,1386.428985,1422.380005,1357.380005
2011,April,2.700000e+00,1330.033502,1331.505011,1364.560059,1294.699951
2010,April,1.600000e+00,1196.390951,1197.316185,1219.800049,1170.689941
1999,April,4.000000e+00,1332.433803,1334.756662,1371.560059,1282.560059
2014,April,7.000000e-01,1864.516189,1864.263335,1897.280029,1814.359985
2009,April,9.600000e+00,844.313811,848.151899,888.700012,783.320007
2019,April,4.100000e+00,2900.810489,2903.799979,2949.520020,2848.629883
2017,August,3.000000e-01,2456.749968,2456.223070,2490.870117,2417.350098
2012,August,1.900000e+00,1402.286499,1403.448258,1426.680054,1354.650024
2011,August,-5.300000e+00,1188.300001,1185.305654,1307.380005,1101.540039
2003,August,2.000000e+00,988.689052,989.531910,1011.010010,960.840027
2004,August,2.000000e-01,1088.820446,1088.934992,1109.680054,1060.719971
2008,August,1.300000e+00,1279.905721,1281.472366,1313.150024,1247.449951
2016,August,-1.110223e-16,2177.612623,2177.482167,2193.810059,2147.580078
2010,August,-5.000000e+00,1088.534546,1087.282271,1129.239990,1039.699951
2006,August,2.300000e+00,1285.923478,1287.149568,1306.739990,1261.300049
...,...,...,...,...,...,...
2011,October,1.060000e+01,1201.559041,1207.216187,1292.660034,1074.770020
2012,October,-1.900000e+00,1439.228562,1437.816662,1470.959961,1403.280029
2003,October,5.200000e+00,1036.354344,1038.734343,1053.790039,995.969971
2015,October,8.000000e+00,2017.939547,2024.812716,2094.320068,1893.699951
2005,October,-1.500000e+00,1193.002383,1191.964286,1233.339966,1168.199951
2009,October,-1.800000e+00,1068.867276,1067.663630,1101.359985,1019.950012
2013,October,4.400000e+00,1716.934353,1720.026532,1775.219971,1646.469971
2006,October,3.100000e+00,1361.409990,1363.377264,1389.449951,1327.099976
2007,October,1.700000e+00,1539.256539,1539.658691,1576.089966,1489.560059
2009,September,3.800000e+00,1042.973333,1044.552383,1080.150024,991.969971
2013,September,2.800000e+00,1685.423987,1687.173505,1729.859985,1633.410034
2003,September,-1.100000e+00,1020.015236,1019.441900,1040.290039,990.359985
2018,September,3.000000e-01,2901.570004,2901.500514,2940.909912,2864.120117
2010,September,8.500000e+00,1118.298090,1122.081903,1157.160034,1049.719971
2011,September,-7.200000e+00,1178.001418,1173.879057,1229.290039,1114.219971
1998,September,6.500000e+00,1017.795239,1020.640000,1066.109985,939.979980
1999,September,-2.900000e+00,1319.966669,1318.171904,1361.390015,1256.260010
2000,September,-5.500000e+00,1472.112506,1468.054004,1530.089966,1419.439941
2007,September,3.500000e+00,1494.333670,1497.116327,1538.739990,1439.290039
2017,September,2.000000e+00,2491.332495,2492.841040,2519.439941,2446.550049
2014,September,-1.700000e+00,1994.390468,1993.226190,2019.260010,1964.040039
2006,September,2.700000e+00,1316.130011,1317.743012,1340.280029,1290.930054
2005,September,6.000000e-01,1225.544288,1225.914772,1243.130005,1205.349976
2001,September,-8.200000e+00,1050.819995,1044.643994,1155.400024,944.750000
2015,September,-2.500000e+00,1947.264294,1944.402384,2020.859985,1871.910034
2002,September,-1.150000e+01,872.903006,867.812006,924.020020,800.200012
2016,September,-3.000000e-01,2157.573835,2157.690965,2187.870117,2119.120117
2004,September,1.000000e+00,1117.163824,1117.656204,1131.540039,1099.180054
2008,September,-8.300000e+00,1222.669997,1217.022856,1303.040039,1106.420044
2012,September,2.400000e+00,1441.624737,1443.419472,1474.510010,1396.560059

In [112]:
# Let's add the month number to the original DF and re-aggregate:
df["MonthNum"] = df["Date"].dt.month

df_agg = df.groupby(["Year", "MonthNum"]).agg({"Change_from_prev_percentage": sum, 
                                            "Open": pd.Series.mean, 
                                           "Close": pd.Series.mean,
                                           "High": pd.Series.max,
                                           "Low": pd.Series.min})


df_agg.sort_values(["Year", "MonthNum"])

               Change_from_prev_percentage         Open        Close  \
Year MonthNum
1998 5                                -0.3  1098.579987  1093.667481
     6                                 3.9  1106.446350  1108.389532
     7                                -0.8  1157.176353  1156.577271
     8                               -15.2  1082.400949  1074.620472
     9                                 6.5  1017.795239  1020.640000
     10                                8.2  1028.758190  1032.470010
     11                                5.9  1141.185486  1144.433484
     12                                5.6  1187.069086  1190.050903
1999 1                                 4.3  1246.121576  1248.774735
     2                                -2.9  1248.756328  1246.582115
     3                                 3.7  1279.575217  1281.663914
     4                                 4.0  1332.433803  1334.756662
     5                                -2.4  1333.741016  1332.074011
     6                                 5.4  1319.330916  1322.552734
     7                                -3.3  1383.084287  1380.990002
     8                                -0.6  1327.866378  1327.488653
     9                                -2.9  1319.966669  1318.171904
     10                                6.1  1296.190005  1300.010010
     11                                2.1  1389.765706  1391.002848
     12                                5.5  1425.031367  1428.684093
2000 1                                -4.9  1429.325006  1425.585504
     2                                -1.7  1390.275995  1388.874500
     3                                 9.6  1436.466951  1442.212599
     4                                -2.7  1463.784726  1461.355257
     5                                -2.1  1419.925914  1418.479548
     6                                 2.4  1460.413635  1461.959090
     7                                -1.7  1474.190997  1473.002496
     8                                 5.7  1481.682166  1485.458257
     9                                -5.5  1472.112506  1468.054004
     10                               -0.3  1390.467729  1390.144093
...                                    ...          ...          ...
2016 12                                1.8  2246.137626  2246.629046
2017 1                                 1.7  2273.531970  2275.115979
     2                                 3.6  2325.585282  2329.910542
     3                                 0.1  2366.868705  2366.822170
     4                                 1.1  2360.150005  2359.309455
     5                                 1.3  2394.470004  2395.345881
     6                                 0.6  2434.683605  2433.985451
     7                                 1.9  2453.039490  2454.102502
     8                                 0.3  2456.749968  2456.223070
     9                                 2.0  2491.332495  2492.841040
     10                                2.2  2555.807273  2556.997270
     11                                2.7  2590.306164  2593.605736
     12                                1.2  2666.069995  2664.340527
2018 1                                 5.2  2785.686651  2789.803816
     2                                -3.8  2710.269467  2705.155248
     3                                -2.5  2707.860003  2702.773821
     4                                 0.4  2657.641416  2653.625209
     5                                 2.2  2699.121837  2701.493619
     6                                 0.5  2754.971424  2754.352888
     7                                 3.5  2789.537156  2793.643357
     8                                 3.1  2854.545644  2857.820429
     9                                 0.3  2901.570004  2901.500514
     10                               -6.8  2796.075662  2785.464780
     11                                1.9  2719.651902  2723.231422
     12                               -9.2  2580.702624  2567.307386
2019 1                                 7.8  2597.898589  2607.389997
     2                                 2.9  2750.142141  2754.864206
     3                                 1.9  2803.595250  2803.983794
     4                                 4.1  2900.810489  2903.799979
     5                                -4.2  2869.132785  2870.955553

                      High          Low
Year MonthNum
1998 5         1116.790039  1074.390015
     6         1145.150024  1074.670044
     7         1190.579956  1114.300049
     8         1121.790039   957.280029
     9         1066.109985   939.979980
     10        1103.780029   923.320007
     11        1192.969971  1098.670044
     12        1244.930054  1136.890015
1999 1         1280.369995  1205.459961
     2         1283.839966  1211.890015
     3         1323.819946  1216.030029
     4         1371.560059  1282.560059
     5         1375.979980  1277.310059
     6         1372.930054  1277.469971
     7         1420.329956  1328.489990
     8         1382.839966  1267.729980
     9         1361.390015  1256.260010
     10        1373.170044  1233.699951
     11        1425.310059  1346.410034
     12        1473.099976  1387.380005
2000 1         1478.000000  1350.140015
     2         1444.550049  1325.069946
     3         1552.869995  1346.619995
     4         1527.189941  1339.400024
     5         1481.510010  1361.089966
     6         1488.930054  1420.599976
     7         1517.319946  1413.890015
     8         1525.209961  1425.430054
     9         1530.089966  1419.439941
     10        1454.819946  1305.790039
...                    ...          ...
2016 12        2277.530029  2187.439941
2017 1         2300.989990  2245.129883
     2         2371.540039  2271.649902
     3         2400.979980  2322.250000
     4         2398.159912  2328.949951
     5         2418.709961  2352.719971
     6         2453.820068  2405.699951
     7         2484.040039  2407.699951
     8         2490.870117  2417.350098
     9         2519.439941  2446.550049
     10        2582.979980  2520.399902
     11        2657.739990  2557.449951
     12        2694.969971  2605.520020
2018 1         2872.870117  2682.360107
     2         2835.959961  2532.689941
     3         2801.899902  2585.889893
     4         2717.489990  2553.800049
     5         2742.239990  2594.620117
     6         2791.469971  2691.989990
     7         2848.030029  2698.949951
     8         2916.500000  2796.340088
     9         2940.909912  2864.120117
     10        2939.860107  2603.540039
     11        2815.149902  2631.090088
     12        2800.179932  2346.580078
2019 1         2708.949951  2443.959961
     2         2813.489990  2681.830078
     3         2860.310059  2722.270020
     4         2949.520020  2848.629883
     5         2954.129883  2801.429932

[253 rows x 5 columns]

In [ ]:
# Note that this summing of percentage change is not excatly the same as taking percetnage change from start of month
# to end of month. Why?

### 6 Boolean Selection

We can select rows that meet certain criteria, say we just want to look at the days where the index moved by 2% or more:

In [91]:
df[df["Change_from_prev_percentage"]>= 2]

#But hold on! This only gives us the days with 2% or more increase

,Date,DayOfWeek,Month,Quarter,Open,High,Low,Close,Adj Close,Volume,Change_from_Open,Change_from_Prev_Close,Change_from_prev_percentage
Date,,,,,,,,,,,,,
1998-08-17,1998-08-17,Monday,August,3,1062.750000,1083.670044,1055.079956,1083.670044,1083.670044,584380000,20.920044,20.920044,2.0
1998-09-01,1998-09-01,Tuesday,September,3,957.280029,1000.710022,939.979980,994.260010,994.260010,1216600000,36.979981,36.979981,3.9
1998-09-08,1998-09-08,Tuesday,September,3,973.890015,1023.460022,973.890015,1023.460022,1023.460022,814800000,49.570007,49.570007,5.1
1998-09-11,1998-09-11,Friday,September,3,980.190002,1009.059998,969.710022,1009.059998,1009.059998,819100000,28.869996,28.869996,2.9
1998-09-14,1998-09-14,Monday,September,3,1009.059998,1038.380005,1009.059998,1029.719971,1029.719971,714400000,20.659973,20.659973,2.0
1998-09-23,1998-09-23,Wednesday,September,3,1029.630005,1066.089966,1029.630005,1066.089966,1066.089966,899700000,36.459961,36.459961,3.5
1998-10-09,1998-10-09,Friday,October,4,959.440002,984.419983,953.039978,984.390015,984.390015,878100000,24.950013,24.950013,2.6
1998-10-15,1998-10-15,Thursday,October,4,1005.530029,1053.089966,1000.119995,1047.489990,1047.489990,937600000,41.959961,41.959961,4.2
1998-11-23,1998-11-23,Monday,November,4,1163.550049,1188.209961,1163.550049,1188.209961,1188.209961,774100000,24.659912,24.659912,2.1
1998-12-04,1998-12-04,Friday,December,4,1150.140015,1176.739990,1150.140015,1176.739990,1176.739990,709700000,26.599975,26.599975,2.3
1998-12-23,1998-12-23,Wednesday,December,4,1203.569946,1229.890015,1203.569946,1228.540039,1228.540039,697500000,24.970093,24.970093,2.1
1999-01-06,1999-01-06,Wednesday,January,1,1244.780029,1272.500000,1244.780029,1272.339966,1272.339966,986900000,27.559937,27.559937,2.2
1999-01-15,1999-01-15,Friday,January,1,1212.189941,1243.260010,1212.189941,1243.260010,1243.260010,798100000,31.070069,31.070069,2.6
1999-02-11,1999-02-11,Thursday,February,1,1223.550049,1254.050049,1223.189941,1254.040039,1254.040039,815800000,30.489990,30.489990,2.5
1999-02-22,1999-02-22,Monday,February,1,1239.219971,1272.219971,1239.219971,1272.140015,1272.140015,718500000,32.920044,32.920044,2.7
1999-03-05,1999-03-05,Friday,March,1,1246.640015,1275.729980,1246.640015,1275.469971,1275.469971,834900000,28.829956,28.829956,2.3
1999-03-29,1999-03-29,Monday,March,1,1282.800049,1311.760010,1282.800049,1310.170044,1310.170044,747900000,27.369995,27.369995,2.1
1999-04-05,1999-04-05,Monday,April,2,1293.719971,1321.119995,1293.719971,1321.119995,1321.119995,695800000,27.400024,27.400024,2.1
1999-04-21,1999-04-21,Wednesday,April,2,1306.170044,1336.119995,1301.839966,1336.119995,1336.119995,920000000,29.949951,29.949951,2.3
1999-06-04,1999-06-04,Friday,June,2,1299.540039,1327.750000,1299.540039,1327.750000,1327.750000,694500000,28.209961,28.209961,2.2
1999-06-16,1999-06-16,Wednesday,June,2,1301.160034,1332.829956,1301.160034,1330.410034,1330.410034,806800000,29.250000,29.250000,2.2
1999-08-13,1999-08-13,Friday,August,3,1298.160034,1327.719971,1298.160034,1327.680054,1327.680054,691700000,29.520020,29.520020,2.3
1999-09-03,1999-09-03,Friday,September,3,1319.109985,1357.739990,1319.109985,1357.239990,1357.239990,663200000,38.130005,38.130005,2.9
1999-10-20,1999-10-20,Wednesday,October,4,1261.319946,1289.439941,1261.319946,1289.430054,1289.430054,928800000,28.110108,28.110108,2.2
1999-10-28,1999-10-28,Thursday,October,4,1296.709961,1342.469971,1296.709961,1342.439941,1342.439941,1135100000,45.729980,45.729980,3.5
2000-01-07,2000-01-07,Friday,January,1,1403.449951,1441.469971,1400.729980,1441.469971,1441.469971,1225200000,38.020020,38.020020,2.7
2000-01-31,2000-01-31,Monday,January,1,1360.160034,1394.479980,1350.140015,1394.459961,1394.459961,993800000,34.299927,34.299927,2.5
2000-03-03,2000-03-03,Friday,March,1,1381.760010,1410.880005,1381.760010,1409.170044,1409.170044,1150300000,27.410034,27.410034,2.0
2000-03-09,2000-03-09,Thursday,March,1,1366.699951,1401.819946,1357.880005,1401.689941,1401.689941,1123000000,34.989990,34.989990,2.6
2000-03-15,2000-03-15,Wednesday,March,1,1359.150024,1397.989990,1356.989990,1392.140015,1392.140015,1302800000,32.989991,32.989991,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011-10-10,2011-10-10,Monday,October,4,1158.150024,1194.910034,1158.150024,1194.890015,1194.890015,4446800000,36.739991,39.430054,3.4
2011-10-18,2011-10-18,Tuesday,October,4,1200.750000,1233.099976,1191.479980,1225.380005,1225.380005,4840170000,24.630005,24.520020,2.0
2011-10-27,2011-10-27,Thursday,October,4,1243.969971,1292.660034,1243.969971,1284.589966,1284.589966,6367610000,40.619995,42.589966,3.4
2011-11-28,2011-11-28,Monday,November,4,1158.670044,1197.349976,1158.670044,1192.550049,1192.550049,3920750000,33.880005,33.880005,2.9
2011-11-30,2011-11-30,Wednesday,November,4,1196.719971,1247.109985,1196.719971,1246.959961,1246.959961,5801910000,50.239990,51.770020,4.3
2011-12-20,2011-12-20,Tuesday,December,4,1205.719971,1242.819946,1205.719971,1241.300049,1241.300049,4055590000,35.580078,35.950073,3.0
2012-06-06,2012-06-06,Wednesday,June,2,1285.609985,1315.130005,1285.609985,1315.130005,1315.130005,4268360000,29.520020,29.630005,2.3
2012-06-29,2012-06-29,Friday,June,2,1330.119995,1362.170044,1330.119995,1362.160034,1362.160034,4590480000,32.040039,33.119995,2.5
2012-09-06,2012-09-06,Thursday,September,3,1403.739990,1432.119995,1403.739990,1432.119995,1432.119995,3952870000,28.380005,28.680054,2.0
2012-11-19,2012-11-19,Monday,November,4,1359.880005,1386.890015,1359.880005,1386.890015,1386.890015,3374800000,27.010010,27.010010,2.0
2013-01-02,2013-01-02,Wednesday,January,1,1426.189941,1462.430054,1426.189941,1462.420044,1462.420044,4202600000,36.230103,36.230103,2.5
2013-10-10,2013-10-10,Thursday,October,4,1660.880005,1692.560059,1660.880005,1692.560059,1692.560059,3362300000,31.680054,36.160035,2.2
2014-10-21,2014-10-21,Tuesday,October,4,1909.380005,1942.449951,1909.380005,1941.280029,1941.280029,3987090000,31.900024,37.270019,2.0
2014-12-17,2014-12-17,Wednesday,December,4,1973.770020,2016.750000,1973.770020,2012.890015,2012.890015,4942370000,39.119995,40.150025,2.0
2014-12-18,2014-12-18,Thursday,December,4,2018.979980,2061.229980,2018.979980,2061.229980,2061.229980,4703380000,42.250000,48.339965,2.4
2015-08-26,2015-08-26,Wednesday,August,3,1872.750000,1943.089966,1872.750000,1940.510010,1940.510010,5338250000,67.760010,72.900025,3.9
2015-08-27,2015-08-27,Thursday,August,3,1942.770020,1989.599976,1942.770020,1987.660034,1987.660034,5006390000,44.890014,47.150024,2.4
2015-09-08,2015-09-08,Tuesday,September,3,1927.300049,1970.420044,1927.300049,1969.410034,1969.410034,3548650000,42.109985,48.190063,2.5
2015-12-04,2015-12-04,Friday,December,4,2051.239990,2093.840088,2051.239990,2091.689941,2091.689941,4214910000,40.449951,42.069824,2.1
2016-01-22,2016-01-22,Friday,January,1,1877.400024,1908.849976,1877.400024,1906.900024,1906.900024,4901760000,29.500000,37.910034,2.0
2016-01-29,2016-01-29,Friday,January,1,1894.000000,1940.239990,1894.000000,1940.239990,1940.239990,5497570000,46.239990,46.880005,2.5
2016-02-12,2016-02-12,Friday,February,1,1833.400024,1864.780029,1833.400024,1864.780029,1864.780029,4696920000,31.380005,35.700073,2.0
2016-03-01,2016-03-01,Tuesday,March,1,1937.089966,1978.349976,1937.089966,1978.349976,1978.349976,4819750000,41.260010,46.119996,2.4
2016-11-07,2016-11-07,Monday,November,4,2100.590088,2132.000000,2100.590088,2131.520020,2131.520020,3736060000,30.929932,46.340088,2.2
2018-03-26,2018-03-26,Monday,March,1,2619.350098,2661.360107,2601.810059,2658.550049,2658.550049,3511100000,39.199951,70.290039,2.7
2018-10-16,2018-10-16,Tuesday,October,4,2767.050049,2813.459961,2766.909912,2809.919922,2809.919922,3428340000,42.869873,59.129883,2.1
2018-11-07,2018-11-07,Wednesday,November,4,2774.129883,2815.149902,2774.129883,2813.889893,2813.889893,3914750000,39.760010,58.439942,2.1
2018-11-28,2018-11-28,Wednesday,November,4,2691.449951,2744.000000,2684.379883,2743.790039,2743.790039,3951670000,52.340088,61.620117,2.3
2018-12-26,2018-12-26,Wednesday,December,4,2363.120117,2467.760010,2346.580078,2467.699951,2467.699951,4233990000,104.579834,116.599853,5.0
2019-01-04,2019-01-04,Friday,January,1,2474.330078,2538.070068,2474.330078,2531.939941,2531.939941,4213410000,57.609863,84.050048,3.4

In [124]:
# we can define a complex condition and store it in a separate variable so the whole expression
# is more readable:

cond = (df["Change_from_prev_percentage"]>= 3.0) | (df["Change_from_prev_percentage"] <= -3.0)

# or,we could use the abs operator abs(df["Change_from_prev_percentage"])

# !! IMPORTANT NOTE: while Python usually accepts and, or. Pandas requires bitwise operators |, &

# !! Also important for composite consditions: paranthesis

df[cond]

,Date,DayOfWeek,Month,Quarter,Open,High,Low,Close,Adj Close,Volume,Change_from_Open,Change_from_Prev_Close,Change_from_prev_percentage,Year,MonthNum
Date,,,,,,,,,,,,,,,
1998-08-04,1998-08-04,Tuesday,August,3,1112.439941,1119.729980,1071.819946,1072.119995,1072.119995,852600000,-40.319946,-40.319946,-3.6,1998,8
1998-08-27,1998-08-27,Thursday,August,3,1084.189941,1084.189941,1037.609985,1042.589966,1042.589966,938600000,-41.599975,-41.599975,-3.8,1998,8
1998-08-31,1998-08-31,Monday,August,3,1027.140015,1033.469971,957.280029,957.280029,957.280029,917500000,-69.859986,-69.859986,-6.8,1998,8
1998-09-01,1998-09-01,Tuesday,September,3,957.280029,1000.710022,939.979980,994.260010,994.260010,1216600000,36.979981,36.979981,3.9,1998,9
1998-09-08,1998-09-08,Tuesday,September,3,973.890015,1023.460022,973.890015,1023.460022,1023.460022,814800000,49.570007,49.570007,5.1,1998,9
1998-09-23,1998-09-23,Wednesday,September,3,1029.630005,1066.089966,1029.630005,1066.089966,1066.089966,899700000,36.459961,36.459961,3.5,1998,9
1998-09-30,1998-09-30,Wednesday,September,3,1049.020020,1049.020020,1015.729980,1017.010010,1017.010010,800100000,-32.010010,-32.010010,-3.1,1998,9
1998-10-01,1998-10-01,Thursday,October,4,1017.010010,1017.010010,981.289978,986.390015,986.390015,899700000,-30.619995,-30.619995,-3.0,1998,10
1998-10-15,1998-10-15,Thursday,October,4,1005.530029,1053.089966,1000.119995,1047.489990,1047.489990,937600000,41.959961,41.959961,4.2,1998,10
1999-10-28,1999-10-28,Thursday,October,4,1296.709961,1342.469971,1296.709961,1342.439941,1342.439941,1135100000,45.729980,45.729980,3.5,1999,10
2000-01-04,2000-01-04,Tuesday,January,1,1455.219971,1455.219971,1397.430054,1399.420044,1399.420044,1009000000,-55.799927,-55.799927,-3.8,2000,1
2000-02-18,2000-02-18,Friday,February,1,1388.260010,1388.589966,1345.319946,1346.089966,1346.089966,1042300000,-42.170044,-42.170044,-3.0,2000,2
2000-03-16,2000-03-16,Thursday,March,1,1392.150024,1458.469971,1392.150024,1458.469971,1458.469971,1482300000,66.319947,66.329956,4.8,2000,3
2000-04-14,2000-04-14,Friday,April,2,1440.510010,1440.510010,1339.400024,1356.560059,1356.560059,1279700000,-83.949951,-83.949951,-5.8,2000,4
2000-04-17,2000-04-17,Monday,April,2,1356.560059,1401.530029,1346.500000,1401.439941,1401.439941,1204700000,44.879882,44.879882,3.3,2000,4
2000-04-25,2000-04-25,Tuesday,April,2,1429.859985,1477.670044,1429.859985,1477.439941,1477.439941,1071100000,47.579956,47.579956,3.3,2000,4
2000-05-30,2000-05-30,Tuesday,May,2,1378.020020,1422.449951,1378.020020,1422.449951,1422.449951,844200000,44.429931,44.429931,3.2,2000,5
2000-10-13,2000-10-13,Friday,October,4,1329.780029,1374.170044,1327.079956,1374.170044,1374.170044,1223900000,44.390015,44.390015,3.3,2000,10
2000-10-19,2000-10-19,Thursday,October,4,1342.130005,1389.930054,1342.130005,1388.760010,1388.760010,1297900000,46.630005,46.630005,3.5,2000,10
2000-12-05,2000-12-05,Tuesday,December,4,1324.969971,1376.560059,1324.969971,1376.540039,1376.540039,900300000,51.570068,51.570068,3.9,2000,12
2000-12-20,2000-12-20,Wednesday,December,4,1305.599976,1305.599976,1261.160034,1264.739990,1264.739990,1421600000,-40.859986,-40.859986,-3.1,2000,12
2001-01-03,2001-01-03,Wednesday,January,1,1283.270020,1347.760010,1274.619995,1347.560059,1347.560059,1880700000,64.290039,64.290039,5.0,2001,1
2001-03-12,2001-03-12,Monday,March,1,1233.420044,1233.420044,1176.780029,1180.160034,1180.160034,1229000000,-53.260010,-53.260010,-4.3,2001,3
2001-04-03,2001-04-03,Tuesday,April,2,1145.869995,1145.869995,1100.189941,1106.459961,1106.459961,1386100000,-39.410034,-39.410034,-3.4,2001,4
2001-04-05,2001-04-05,Thursday,April,2,1103.250000,1151.469971,1103.250000,1151.439941,1151.439941,1368000000,48.189941,48.189941,4.4,2001,4
2001-04-18,2001-04-18,Wednesday,April,2,1191.810059,1248.420044,1191.810059,1238.160034,1238.160034,1918900000,46.349975,46.349975,3.9,2001,4
2001-09-17,2001-09-17,Monday,September,3,1092.540039,1092.540039,1037.459961,1038.770020,1038.770020,2330830000,-53.770019,-53.770019,-4.9,2001,9
2001-09-20,2001-09-20,Thursday,September,3,1016.099976,1016.099976,984.489990,984.539978,984.539978,2004800000,-31.559998,-31.559998,-3.1,2001,9
2001-09-24,2001-09-24,Monday,September,3,965.799988,1008.440002,965.799988,1003.450012,1003.450012,1746600000,37.650024,37.650024,3.9,2001,9
2002-05-08,2002-05-08,Wednesday,May,2,1049.489990,1088.920044,1049.489990,1088.849976,1088.849976,1502000000,39.359986,39.359986,3.8,2002,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010-06-04,2010-06-04,Friday,June,2,1098.430054,1098.430054,1060.500000,1064.880005,1064.880005,6180580000,-33.550049,-37.949951,-3.4,2010,6
2010-06-10,2010-06-10,Thursday,June,2,1058.770020,1087.849976,1058.770020,1086.839966,1086.839966,5144780000,28.069946,31.150025,3.0,2010,6
2010-06-29,2010-06-29,Tuesday,June,2,1071.099976,1071.099976,1035.180054,1041.239990,1041.239990,6136700000,-29.859986,-33.329956,-3.1,2010,6
2010-07-07,2010-07-07,Wednesday,July,3,1028.540039,1060.890015,1028.540039,1060.270020,1060.270020,4931220000,31.729981,32.209961,3.1,2010,7
2010-09-01,2010-09-01,Wednesday,September,3,1049.719971,1081.300049,1049.719971,1080.290039,1080.290039,4396880000,30.570068,30.960083,3.0,2010,9
2011-08-04,2011-08-04,Thursday,August,3,1260.229980,1260.229980,1199.540039,1200.069946,1200.069946,4266530000,-60.160034,-60.270020,-4.8,2011,8
2011-08-08,2011-08-08,Monday,August,3,1198.479980,1198.479980,1119.280029,1119.459961,1119.459961,2615150000,-79.020019,-79.920044,-6.7,2011,8
2011-08-09,2011-08-09,Tuesday,August,3,1120.229980,1172.880005,1101.540039,1172.530029,1172.530029,2366660000,52.300049,53.070068,4.7,2011,8
2011-08-10,2011-08-10,Wednesday,August,3,1171.770020,1171.770020,1118.010010,1120.760010,1120.760010,5018070000,-51.010010,-51.770019,-4.4,2011,8
2011-08-11,2011-08-11,Thursday,August,3,1121.300049,1186.290039,1121.300049,1172.640015,1172.640015,3685050000,51.339966,51.880005,4.6,2011,8
2011-08-18,2011-08-18,Thursday,August,3,1189.619995,1189.619995,1131.030029,1140.650024,1140.650024,3234810000,-48.969971,-53.239991,-4.5,2011,8
2011-08-23,2011-08-23,Tuesday,August,3,1124.359985,1162.349976,1124.359985,1162.349976,1162.349976,5013170000,37.989991,38.530030,3.4,2011,8
2011-09-22,2011-09-22,Thursday,September,3,1164.550049,1164.550049,1114.219971,1129.560059,1129.560059,6703140000,-34.989990,-37.199951,-3.2,2011,9
2011-10-10,2011-10-10,Monday,October,4,1158.150024,1194.910034,1158.150024,1194.890015,1194.890015,4446800000,36.739991,39.430054,3.4,2011,10
2011-10-27,2011-10-27,Thursday,October,4,1243.969971,1292.660034,1243.969971,1284.589966,1284.589966,6367610000,40.619995,42.589966,3.4,2011,10
2011-11-09,2011-11-09,Wednesday,November,4,1275.180054,1275.180054,1226.640015,1229.099976,1229.099976,4659740000,-46.080078,-46.820068,-3.7,2011,11
2011-11-30,2011-11-30,Wednesday,November,4,1196.719971,1247.109985,1196.719971,1246.959961,1246.959961,5801910000,50.239990,51.770020,4.3,2011,11
2011-12-20,2011-12-20,Tuesday,December,4,1205.719971,1242.819946,1205.719971,1241.300049,1241.300049,4055590000,35.580078,35.950073,3.0,2011,12
2015-08-21,2015-08-21,Friday,August,3,2034.079956,2034.079956,1970.890015,1970.890015,1970.890015,5018240000,-63.189941,-64.839965,-3.2,2015,8
2015-08-24,2015-08-24,Monday,August,3,1965.150024,1965.150024,1867.010010,1893.209961,1893.209961,6612690000,-71.940063,-77.680054,-3.9,2015,8
2015-08-26,2015-08-26,Wednesday,August,3,1872.750000,1943.089966,1872.750000,1940.510010,1940.510010,5338250000,67.760010,72.900025,3.9,2015,8
2015-09-01,2015-09-01,Tuesday,September,3,1970.089966,1970.089966,1903.069946,1913.849976,1913.849976,4371850000,-56.239990,-58.330078,-3.0,2015,9
2016-06-24,2016-06-24,Friday,June,2,2103.810059,2103.810059,2032.569946,2037.410034,2037.410034,7597450000,-66.400025,-75.910034,-3.6,2016,6
2018-02-05,2018-02-05,Monday,February,1,2741.060059,2763.389893,2638.169922,2648.939941,2648.939941,5283460000,-92.120118,-113.189942,-4.1,2018,2
2018-02-08,2018-02-08,Thursday,February,1,2685.010010,2685.270020,2580.560059,2581.000000,2581.000000,5305440000,-104.010010,-100.659912,-3.8,2018,2
2018-10-10,2018-10-10,Wednesday,October,4,2873.899902,2874.020020,2784.860107,2785.679932,2785.679932,4501250000,-88.219970,-94.660156,-3.3,2018,10
2018-10-24,2018-10-24,Wednesday,October,4,2737.870117,2742.590088,2651.889893,2656.100098,2656.100098,4709310000,-81.770019,-84.589843,-3.1,2018,10
2018-12-04,2018-12-04,Tuesday,December,4,2782.429932,2785.929932,2697.179932,2700.060059,2700.060059,4499840000,-82.369873,-90.310058,-3.2,2018,12
2018-12-26,2018-12-26,Wednesday,December,4,2363.120117,2467.760010,2346.580078,2467.699951,2467.699951,4233990000,104.579834,116.599853,5.0,2018,12
2019-01-04,2019-01-04,Friday,January,1,2474.330078,2538.070068,2474.330078,2531.939941,2531.939941,4213410000,57.609863,84.050048,3.4,2019,1

In [128]:
# Of couse we can make the conditions as complicated as we want:

cond = ( ((df["Change_from_prev_percentage"]>= 2.0) 
        | 
        (df["Change_from_prev_percentage"] <= -2.0)) 
        & (df["DayOfWeek"] == "Monday"))

df[cond]

# Pay special attention to the bracketing in such cases- show some example where
# change in bracketing change meaning

,Date,DayOfWeek,Month,Quarter,Open,High,Low,Close,Adj Close,Volume,Change_from_Open,Change_from_Prev_Close,Change_from_prev_percentage,Year,MonthNum
Date,,,,,,,,,,,,,,,
1998-06-15,1998-06-15,Monday,June,2,1098.839966,1098.839966,1077.010010,1077.010010,1077.010010,595820000,-21.829956,-21.829956,-2.0,1998,6
1998-08-17,1998-08-17,Monday,August,3,1062.750000,1083.670044,1055.079956,1083.670044,1083.670044,584380000,20.920044,20.920044,2.0,1998,8
1998-08-31,1998-08-31,Monday,August,3,1027.140015,1033.469971,957.280029,957.280029,957.280029,917500000,-69.859986,-69.859986,-6.8,1998,8
1998-09-14,1998-09-14,Monday,September,3,1009.059998,1038.380005,1009.059998,1029.719971,1029.719971,714400000,20.659973,20.659973,2.0,1998,9
1998-11-23,1998-11-23,Monday,November,4,1163.550049,1188.209961,1163.550049,1188.209961,1188.209961,774100000,24.659912,24.659912,2.1,1998,11
1998-11-30,1998-11-30,Monday,November,4,1192.329956,1192.719971,1163.630005,1163.630005,1163.630005,687900000,-28.699951,-28.699951,-2.4,1998,11
1998-12-14,1998-12-14,Monday,December,4,1166.459961,1166.459961,1136.890015,1141.199951,1141.199951,741800000,-25.260010,-25.260010,-2.2,1998,12
1999-02-22,1999-02-22,Monday,February,1,1239.219971,1272.219971,1239.219971,1272.140015,1272.140015,718500000,32.920044,32.920044,2.7,1999,2
1999-03-29,1999-03-29,Monday,March,1,1282.800049,1311.760010,1282.800049,1310.170044,1310.170044,747900000,27.369995,27.369995,2.1,1999,3
1999-04-05,1999-04-05,Monday,April,2,1293.719971,1321.119995,1293.719971,1321.119995,1321.119995,695800000,27.400024,27.400024,2.1,1999,4
1999-04-19,1999-04-19,Monday,April,2,1319.000000,1340.099976,1284.479980,1289.479980,1289.479980,1214400000,-29.520020,-29.520020,-2.2,1999,4
2000-01-24,2000-01-24,Monday,January,1,1441.359985,1454.089966,1395.420044,1401.530029,1401.530029,1115800000,-39.829956,-39.829956,-2.8,2000,1
2000-01-31,2000-01-31,Monday,January,1,1360.160034,1394.479980,1350.140015,1394.459961,1394.459961,993800000,34.299927,34.299927,2.5,2000,1
2000-04-17,2000-04-17,Monday,April,2,1356.560059,1401.530029,1346.500000,1401.439941,1401.439941,1204700000,44.879882,44.879882,3.3,2000,4
2000-05-15,2000-05-15,Monday,May,2,1420.959961,1452.390015,1416.540039,1452.359985,1452.359985,854600000,31.400024,31.400024,2.2,2000,5
2001-03-12,2001-03-12,Monday,March,1,1233.420044,1233.420044,1176.780029,1180.160034,1180.160034,1229000000,-53.260010,-53.260010,-4.3,2001,3
2001-09-17,2001-09-17,Monday,September,3,1092.540039,1092.540039,1037.459961,1038.770020,1038.770020,2330830000,-53.770019,-53.770019,-4.9,2001,9
2001-09-24,2001-09-24,Monday,September,3,965.799988,1008.440002,965.799988,1003.450012,1003.450012,1746600000,37.650024,37.650024,3.9,2001,9
2001-10-29,2001-10-29,Monday,October,4,1104.609985,1104.609985,1078.300049,1078.300049,1078.300049,1106100000,-26.309936,-26.309936,-2.4,2001,10
2002-02-04,2002-02-04,Monday,February,1,1122.199951,1122.199951,1092.250000,1094.439941,1094.439941,1437600000,-27.760010,-27.760010,-2.5,2002,2
2002-06-03,2002-06-03,Monday,June,2,1067.140015,1070.739990,1039.900024,1040.680054,1040.680054,1324300000,-26.459961,-26.459961,-2.5,2002,6
2002-06-17,2002-06-17,Monday,June,2,1007.270020,1036.170044,1007.270020,1036.170044,1036.170044,1236600000,28.900024,28.900024,2.9,2002,6
2002-07-01,2002-07-01,Monday,July,3,989.820007,994.460022,967.429993,968.650024,968.650024,1425500000,-21.169983,-21.169983,-2.1,2002,7
2002-07-22,2002-07-22,Monday,July,3,847.760010,854.130005,813.260010,819.849976,819.849976,2248060000,-27.910034,-27.900024,-3.3,2002,7
2002-07-29,2002-07-29,Monday,July,3,852.840027,898.960022,852.840027,898.960022,898.960022,1778650000,46.119995,46.119995,5.4,2002,7
2002-08-05,2002-08-05,Monday,August,3,864.239990,864.239990,833.440002,834.599976,834.599976,1425500000,-29.640014,-29.640014,-3.4,2002,8
2002-08-19,2002-08-19,Monday,August,3,928.770020,951.169983,927.210022,950.700012,950.700012,1299800000,21.929992,21.929992,2.4,2002,8
2002-11-11,2002-11-11,Monday,November,4,894.739990,894.739990,874.630005,876.190002,876.190002,1113000000,-18.549988,-18.549988,-2.1,2002,11
2002-12-09,2002-12-09,Monday,December,4,912.229980,912.229980,891.969971,892.000000,892.000000,1320800000,-20.229980,-20.229980,-2.2,2002,12
2002-12-16,2002-12-16,Monday,December,4,889.479980,910.419983,889.479980,910.400024,910.400024,1271600000,20.920044,20.920044,2.4,2002,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2009-06-01,2009-06-01,Monday,June,2,923.260010,947.770020,923.260010,942.869995,942.869995,6370440000,19.609985,23.729980,2.6,2009,6
2009-06-15,2009-06-15,Monday,June,2,942.450012,942.450012,919.650024,923.719971,923.719971,4697880000,-18.730041,-22.490051,-2.4,2009,6
2009-06-22,2009-06-22,Monday,June,2,918.130005,918.130005,893.039978,893.039978,893.039978,4903940000,-25.090027,-28.190002,-3.1,2009,6
2009-07-13,2009-07-13,Monday,July,3,879.570007,901.049988,875.320007,901.049988,901.049988,4499440000,21.479981,21.919983,2.5,2009,7
2009-08-17,2009-08-17,Monday,August,3,998.179993,998.179993,978.510010,979.729980,979.729980,4088570000,-18.450013,-24.360047,-2.4,2009,8
2009-11-09,2009-11-09,Monday,November,4,1072.310059,1093.189941,1072.310059,1093.079956,1093.079956,4460030000,20.769897,23.779907,2.2,2009,11
2010-05-10,2010-05-10,Monday,May,2,1122.270020,1163.849976,1122.270020,1159.729980,1159.729980,6893700000,37.459960,48.849975,4.4,2010,5
2010-08-02,2010-08-02,Monday,August,3,1107.530029,1127.300049,1107.530029,1125.859985,1125.859985,4144180000,18.329956,24.260009,2.2,2010,8
2011-08-08,2011-08-08,Monday,August,3,1198.479980,1198.479980,1119.280029,1119.459961,1119.459961,2615150000,-79.020019,-79.920044,-6.7,2011,8
2011-08-15,2011-08-15,Monday,August,3,1178.859985,1204.489990,1178.859985,1204.489990,1204.489990,4272850000,25.630005,25.679931,2.2,2011,8
2011-08-29,2011-08-29,Monday,August,3,1177.910034,1210.280029,1177.910034,1210.079956,1210.079956,4228070000,32.169922,33.279907,2.8,2011,8
2011-09-26,2011-09-26,Monday,September,3,1136.910034,1164.189941,1131.069946,1162.949951,1162.949951,4762830000,26.039917,26.519897,2.3,2011,9
2011-10-03,2011-10-03,Monday,October,4,1131.209961,1138.989990,1098.920044,1099.229980,1099.229980,5670340000,-31.979981,-32.190064,-2.8,2011,10
2011-10-10,2011-10-10,Monday,October,4,1158.150024,1194.910034,1158.150024,1194.890015,1194.890015,4446800000,36.739991,39.430054,3.4,2011,10
2011-10-31,2011-10-31,Monday,October,4,1284.959961,1284.959961,1253.160034,1253.300049,1253.300049,4310210000,-31.659912,-31.789917,-2.5,2011,10
2011-11-28,2011-11-28,Monday,November,4,1158.670044,1197.349976,1158.670044,1192.550049,1192.550049,3920750000,33.880005,33.880005,2.9,2011,11
2012-11-19,2012-11-19,Monday,November,4,1359.880005,1386.890015,1359.880005,1386.890015,1386.890015,3374800000,27.010010,27.010010,2.0,2012,11
2013-04-15,2013-04-15,Monday,April,2,1588.839966,1588.839966,1552.280029,1552.359985,1552.359985,4660130000,-36.479981,-36.489991,-2.3,2013,4
2014-02-03,2014-02-03,Monday,February,1,1782.680054,1784.829956,1739.660034,1741.890015,1741.890015,4726040000,-40.790039,-40.699951,-2.3,2014,2
2015-06-29,2015-06-29,Monday,June,2,2098.629883,2098.629883,2056.639893,2057.639893,2057.639893,3678960000,-40.989990,-43.850097,-2.1,2015,6
2015-08-24,2015-08-24,Monday,August,3,1965.150024,1965.150024,1867.010010,1893.209961,1893.209961,6612690000,-71.940063,-77.680054,-3.9,2015,8
2015-09-28,2015-09-28,Monday,September,3,1929.180054,1929.180054,1879.209961,1881.770020,1881.770020,4326660000,-47.410034,-49.569946,-2.6,2015,9
2016-11-07,2016-11-07,Monday,November,4,2100.590088,2132.000000,2100.590088,2131.520020,2131.520020,3736060000,30.929932,46.340088,2.2,2016,11
2018-02-05,2018-02-05,Monday,February,1,2741.060059,2763.389893,2638.169922,2648.939941,2648.939941,5283460000,-92.120118,-113.189942,-4.1,2018,2
2018-03-26,2018-03-26,Monday,March,1,2619.350098,2661.360107,2601.810059,2658.550049,2658.550049,3511100000,39.199951,70.290039,2.7,2018,3
2018-04-02,2018-04-02,Monday,April,2,2633.449951,2638.300049,2553.800049,2581.879883,2581.879883,3598520000,-51.570068,-58.990234,-2.2,2018,4
2018-11-12,2018-11-12,Monday,November,4,2773.929932,2775.989990,2722.000000,2726.219971,2726.219971,3670930000,-47.709961,-54.790039,-2.0,2018,11
2018-12-17,2018-12-17,Monday,December,4,2590.750000,2601.129883,2530.540039,2545.939941,2545.939941,4616350000,-44.810059,-54.010010,-2.1,2018,12
2018-12-24,2018-12-24,Monday,December,4,2400.560059,2410.340088,2351.100098,2351.100098,2351.100098,2613930000,-49.459961,-65.520019,-2.7,2018,12
2019-05-13,2019-05-13,Monday,May,2,2840.189941,2840.189941,2801.429932,2811.870117,2811.870117,3894030000,-28.319824,-69.529785,-2.4,2019,5

### 7 Basic Plotting and Visualization

In [ ]:
#ToDo:

# Make sorting a separate section
# Sorting by multiple values
# Missing Values
# Reindexing
# Filtering the rows
# Saving the frame
# Plotting
# pivot tables
# merge join concat
# numpy/scipy