Course Plan:

1) intro to Jupyter: install, run cells, move cells, export, etc. ~5min

2) import statements  ~1 min

3) Creating Pandas DataFrame from an existing spreadsheet ~ 3min

4) DataFrame index, accessing rows and columns, etc.  ~15 min

5) Creating new columns, applying functions on columns:  ~ 15 min

6) Type casting and working with dates  ~ 10min

7) Group by operations and aggregation   ~ 20 min

8) Boolean Selection  

9) Plotting

## The Dataframe
The basic object we interact with in Pandas is the DataFrame (analogous to a spreadsheet)

Another object we also interact with is the Series (analogous to a Column)

### 1 Creating a Pandas DataFrame from a file:

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("SPX - Historical.csv")
# could be file or URL

In [3]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000
1,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000
2,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000
3,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000
4,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000
...,...,...,...,...,...,...,...
5280,2019-05-20,2841.939941,2853.860107,2831.290039,2840.229980,2840.229980,3288870000
5281,2019-05-21,2854.020020,2868.879883,2854.020020,2864.360107,2864.360107,3218700000
5282,2019-05-22,2856.060059,2865.469971,2851.110107,2856.270020,2856.270020,3192510000
5283,2019-05-23,2836.699951,2836.699951,2805.489990,2822.239990,2822.239990,3891980000
5284,2019-05-24,2832.409912,2841.360107,2820.189941,2826.060059,2826.060059,2887390000

In [4]:
df.shape

(5285, 7)

In [5]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000
1,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000
2,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000
3,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000
4,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000

In [ ]:
df.head(20)

In [ ]:
df.tail(10)

Present Other methods of opening a file:

pd.read_excel()

#present the following parameters:

sheet_name, header, index_col, na_values, true_values, false_values

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html

### 2 Accessing rows and columns:

In [6]:
df["Open"]

0       1110.469971
1       1094.020020
2       1092.229980
3       1097.599976
4       1090.819946
           ...
5280    2841.939941
5281    2854.020020
5282    2856.060059
5283    2836.699951
5284    2832.409912
Name: Open, Length: 5285, dtype: float64

Columns can also be accessed as attributes of the dataframe:
Note:this only works if the column names are legal python identifier
(no spaces and no punctuation other than `_`.)

In [7]:
df["Open"].describe()

count    5285.000000
mean     1508.338967
std       522.983997
min       679.280029
25%      1144.109985
50%      1330.969971
75%      1842.969971
max      2952.330078
Name: Open, dtype: float64

In [8]:
df["Close"].describe(percentiles=[0, 0.1, 0.2, 0.3, 0.4, 
                                   0.5, 0.6, 0.7, 0.8, 0.9,
                                   1.0])

count    5285.000000
mean     1508.575173
std       523.059143
min       676.530029
0%        676.530029
10%      1003.389990
20%      1114.246020
30%      1183.715967
40%      1262.530029
50%      1331.069946
60%      1411.186011
70%      1541.187988
80%      2012.153980
90%      2374.845996
100%     2945.830078
max      2945.830078
Name: Close, dtype: float64

In [ ]:
type(df["Open"])
# Point out that each column in a df is a series object

In [ ]:
# accessing rows, by position
df.iloc[0:3]

In [ ]:
df.iloc[0:5]
# point out that python range doesn't include the end index. 
# (n:m) only includes up to m-1

In addition to accessing rows by position (using iloc()) , we can also access rows by index using loc()

If no index is specified when opening the file, loc reverts to using position.

In [ ]:
df.loc["1998-05-26":"1998-06-01", ["Open", "High"]]

In [ ]:
df.iloc[0:5, [2,3]]

Let's specify date as an index explain the meaning of parameters
explain that they are default parameters.

In [9]:
df.set_index("Date", drop=False, inplace=True, verify_integrity=True)

In [10]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
1998-05-26,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000
1998-05-27,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000
1998-05-28,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000
1998-05-29,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000
1998-06-01,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000
...,...,...,...,...,...,...,...
2019-05-20,2019-05-20,2841.939941,2853.860107,2831.290039,2840.229980,2840.229980,3288870000
2019-05-21,2019-05-21,2854.020020,2868.879883,2854.020020,2864.360107,2864.360107,3218700000
2019-05-22,2019-05-22,2856.060059,2865.469971,2851.110107,2856.270020,2856.270020,3192510000
2019-05-23,2019-05-23,2836.699951,2836.699951,2805.489990,2822.239990,2822.239990,3891980000
2019-05-24,2019-05-24,2832.409912,2841.360107,2820.189941,2826.060059,2826.060059,2887390000

So now `loc` no longer works with positions.

In [ ]:
df.loc[0:5]

Now `loc` takes index values:

In [ ]:
df.loc["1998-05-26"]

In [ ]:
df.loc["1998-05-26"]

In [ ]:
df.loc["1998-05-26"]

In [ ]:
df.loc["1998-05-26":"1998-06-07"]

We can still access by rows and columns using iloc:

In [ ]:

df.iloc[0:10, 2:4 ]

In [ ]:
# by labels:
df["1998-05-26":"1998-06-07"]["High"].describe()

In [ ]:
df.loc["1998-05-26":"1998-06-07"][["High","Low"]]
#note that column labels are in a list

#### In summary:
- Rows and columns can be picked by labels or by positions.
- When picking by labels, labels can be applied to df directly: df[label],  df[rowlabel][columnlabel], df[columnlabel][rowlabel]
- `iloc` is used for selecting by position
- Positions can be specified individually, as a slice object (2:8), or a list of integers.
- The same is true for row labels. column labels can be individual values or lists, but no slices

## 3. Adding and Dropping Columns

Adding a new column:
Any list that has the same length as the dataframe can be made into a new column.

In [14]:
df["Change"] = [5] * len(df)

In [15]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Change
Date,,,,,,,,
1998-05-26,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000,5
1998-05-27,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000,5
1998-05-28,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000,5
1998-05-29,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000,5
1998-06-01,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000,5

Removing columns is a bit more involved:

`axis=1` tells pandas that we are deleting a column not a row.

`inplace=True` tells pandas to modify the current df, not return a new one.

(If not specified, the default is false and pandas will return a modified df that should be stored somewhere - show example without inplace.)

In [ ]:
df.drop("Change", axis=1,  inplace=True)
df.head()

Of course, we would like to do something more useful.
That usually means the new column is a result from operating on existing columns.
E.g. Let's add a column that records the difference between the index's closing value and the index opening value:

In [ ]:
df["Change_from_Open"] = df["Close"] - df["Open"]
df.head()

What if we want to create a column based on comparing each row
with the previous row. e.g. for each day, calculate the change between
the day's close and the previous day close?

We can use the function "shift" to do this:

In [ ]:
df["Open"].shift(3)
#try also shift(-3), etc.

# Note that this is mot changing the series/column, just returning a new one

We can now use this to calculate the change between close and previous close:

In [ ]:

df["Change_from_Prev_Close"] = df.Close - df.Close.shift(1)
df.head()

Let's calculate change from previous close in percentage. 

We can do this in a couple of ways:

In [ ]:
df["Change_from_prev_percentage"] = ((df["Close"] - df["Close"].shift(1)) * 100)/df["Close"].shift(1)

# And then we may want to round the result:
df["Change_from_prev_percentage"] = round(df["Change_from_prev_percentage"], 2)

df.head(10)

In [ ]:
# But, instead of having one long formula on one line we can also define our own function:

def calc_percentage_one_day(df):
    close = df["Close"]
    prev_close = df["Close"].shift(1)
    change_abs = close - prev_close
    change_percentage = (change_abs/prev_close) * 100
    change_percentage = round(change_percentage, 1)
    return change_percentage


# And now, we can create the new column by just calling the function:

df["Change_from_prev_percentage"] = calc_percentage_one_day(df)

df.head()

## 4. Type Casting and Working with Dates

In most cases, the types of the values (strings, ints, etc. ) will be parsed correctly. In some cases, we may need to explicitly change the type: very common with dates. Let's look at our data again; we kept the Date column for a reason! (`type()` is a built-in python function to check the type.)

In [16]:
type(df["Date"][0])

str

We can typecast those strings to Datetime stamps.
This should allow us to reference the month, the weekday, etc.:

In [23]:
df["Date"] = pd.to_datetime(df["Date"])
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Change
Date,,,,,,,,
1998-05-26,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000,5
1998-05-27,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000,5
1998-05-28,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000,5
1998-05-29,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000,5
1998-06-01,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000,5

In [20]:
# Let's check
df["Date"][0]

Timestamp('1998-05-26 00:00:00')

In [24]:
df["DayOfWeek"] = df["Date"][0].day_name()

df.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume,Change,DayOfWeek
Date,,,,,,,,,
1998-05-26,1998-05-26,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000,5,Tuesday
1998-05-27,1998-05-27,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000,5,Tuesday
1998-05-28,1998-05-28,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000,5,Tuesday
1998-05-29,1998-05-29,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000,5,Tuesday
1998-06-01,1998-06-01,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000,5,Tuesday
1998-06-02,1998-06-02,1090.979980,1098.709961,1089.670044,1093.219971,1093.219971,590930000,5,Tuesday
1998-06-03,1998-06-03,1093.219971,1097.430054,1081.089966,1082.729980,1082.729980,584480000,5,Tuesday
1998-06-04,1998-06-04,1082.729980,1095.930054,1078.099976,1094.829956,1094.829956,577470000,5,Tuesday
1998-06-05,1998-06-05,1095.099976,1113.880005,1094.829956,1113.859985,1113.859985,558440000,5,Tuesday
1998-06-08,1998-06-08,1113.859985,1119.699951,1113.310059,1115.719971,1115.719971,543390000,5,Tuesday

Let's add month name and quarter:

In [ ]:

# Note how some of these are functions (callable, ending with ()), and some are attribute values
df["Month"] = df["Date"].dt.month_name()
df["Quarter"] = df["Date"].dt.quarter
df.head(10)

### Changing order of Columns

In [25]:
curr_columns = df.columns

print(curr_columns)

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'Change',
       'DayOfWeek'],
      dtype='object')

In [26]:
new_columns = ['Date', 'DayOfWeek', 'Month', 'Quarter', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'Change_from_Open', 'Change_from_Prev_Close',
       'Change_from_prev_percentage']

df = df.reindex(columns=new_columns)
df.head()

,Date,DayOfWeek,Month,Quarter,Open,High,Low,Close,Adj Close,Volume,Change_from_Open,Change_from_Prev_Close,Change_from_prev_percentage
Date,,,,,,,,,,,,,
1998-05-26,1998-05-26,Tuesday,NaN,NaN,1110.469971,1116.790039,1094.010010,1094.020020,1094.020020,541410000,NaN,NaN,NaN
1998-05-27,1998-05-27,Tuesday,NaN,NaN,1094.020020,1094.439941,1074.390015,1092.229980,1092.229980,682040000,NaN,NaN,NaN
1998-05-28,1998-05-28,Tuesday,NaN,NaN,1092.229980,1099.729980,1089.060059,1097.599976,1097.599976,588900000,NaN,NaN,NaN
1998-05-29,1998-05-29,Tuesday,NaN,NaN,1097.599976,1104.160034,1090.819946,1090.819946,1090.819946,556780000,NaN,NaN,NaN
1998-06-01,1998-06-01,Tuesday,NaN,NaN,1090.819946,1097.849976,1084.219971,1090.979980,1090.979980,537660000,NaN,NaN,NaN

 ### 5 Groupby operations:
 
 https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html

In [ ]:
# Say we want to find sum of changes per day:
# note: I am not sure this is the best application of groupby


# Try functions: mean, median, sum, max, min
df.groupby(["DayOfWeek"])["Change_from_prev_percentage"].sum()

In [ ]:
# Let's see how much the index changed for every month since June 1998
# Possible exercise:

df["Year"] = df["Date"].dt.year
df

In [ ]:
# Let's aggregate the percetnage, but let's average the open, close, and let's take the max and min for high and low

df_agg = df.groupby(["Year", "Month"]).agg({"Change_from_prev_percentage": sum, 
                                            "Open": pd.Series.mean, 
                                           "Close": pd.Series.mean,
                                           "High": pd.Series.max,
                                           "Low": pd.Series.min})

df_agg

In [ ]:
# Let's attempt to sort by Month name:

df_agg.sort_values("Month")

# Clearly that is not helpful, it sorted by month alphabetical name instead of month order. For that we need to 
# add a column with the month number

In [ ]:
# Let's add the month number to the original DF and re-aggregate:
df["MonthNum"] = df["Date"].dt.month

df_agg = df.groupby(["Year", "MonthNum"]).agg({"Change_from_prev_percentage": sum, 
                                            "Open": pd.Series.mean, 
                                           "Close": pd.Series.mean,
                                           "High": pd.Series.max,
                                           "Low": pd.Series.min})


df_agg.sort_values(["Year", "MonthNum"])

In [ ]:
# Note that this summing of percentage change is not excatly the same as taking percetnage change from start of month
# to end of month. Why?

### 6 Boolean Selection

We can select rows that meet certain criteria, say we just want to look at the days where the index moved by 2% or more:

In [ ]:
df[df["Change_from_prev_percentage"]>= 2]

#But hold on! This only gives us the days with 2% or more increase

In [ ]:
# we can define a complex condition and store it in a separate variable so the whole expression
# is more readable:

cond = (df["Change_from_prev_percentage"]>= 3.0) | (df["Change_from_prev_percentage"] <= -3.0)

# or,we could use the abs operator abs(df["Change_from_prev_percentage"])

# !! IMPORTANT NOTE: while Python usually accepts and, or. Pandas requires bitwise operators |, &

# !! Also important for composite consditions: paranthesis

df[cond]

In [ ]:
# Of couse we can make the conditions as complicated as we want:

cond = ( ((df["Change_from_prev_percentage"]>= 2.0) 
        | 
        (df["Change_from_prev_percentage"] <= -2.0)) 
        & (df["DayOfWeek"] == "Monday"))

df[cond]

# Pay special attention to the bracketing in such cases- show some example where
# change in bracketing change meaning

### 7 Basic Plotting and Visualization

In [ ]:
#ToDo:

# Make sorting a separate section
# Sorting by multiple values
# Missing Values
# Reindexing
# Filtering the rows
# Saving the frame
# Plotting
# pivot tables
# merge join concat
# numpy/scipy